<div *ngIf="typeUser" class="offcanvas offcanvas-start bg-dark text-white p-3" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1"
  id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span>{{"PANEL-USER.MENU2" | translate}}</span>
    </a>

    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <h4>{{userName}}</h4>

    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start text-white" id="menu">
      <li class="nav-item">
        <a [routerLink]="typeUser=='0'?'/pUser':'/pOrg'" class="nav-link align-middle px-0">
          <fa-icon style="color: white" [icon]="['fas', 'house']"></fa-icon> <span
            class="text-white ms-2">{{"PANEL-USER.HOME" | translate}}</span>
        </a>
      </li>
      <li>
        <a [routerLink]="typeUser=='0'?'/edUser':'/edOrg'" class="nav-link px-0 align-middle">
          <fa-icon style="color: white" [icon]="['far', 'user']"></fa-icon> <span
            class="text-white ms-2">{{"PANEL-USER.PERFIL" | translate}}</span>
        </a>
      </li>
      <li>
        <a *ngIf="typeUser=='0'" routerLink="/encuesta" class="nav-link px-0 align-middle">
          <fa-icon style="color: white" [icon]="['fas', 'square-poll-horizontal']"></fa-icon> <span
            class="text-white ms-2">{{"PANEL-USER.ENCUESTA" | translate}}</span>
        </a>
        <a *ngIf="typeUser=='org'" routerLink="/statis" class="nav-link px-0 align-middle">
          <fa-icon style="color: white" [icon]="['fas', 'chart-line']"></fa-icon> <span
            class="ms-1 d-none d-sm-inline text-white">{{"PANEL-ORG.STATISTICS"|translate}}</span>
        </a>
      </li>
      <li  class="nav-item dropdown ">
        <app-reportes></app-reportes>
      </li>
      <li>
        <a class="nav-link px-0 align-middle" (click)="logOut()">
          <fa-icon style="color: white" [icon]="['fas','right-from-bracket']"></fa-icon>
          <span
            class="ms-1 d-none d-sm-inline text-white">
            {{"PANEL-USER.SALIR" | translate}}</span></a>
      </li>
    </ul>
  </div>
</div>