<section id="up" class="hero">
    <div class="container">
        <h1>{{"HOME.NOALAVIOLENCIADEGENERO" | translate}}</h1>
        <p>{{"HOME.ESLOGAN" | translate}}</p>
    </div>
</section>
<section style="position: relative; bottom: 2rem;">
    <div class="container-sm mb-5">
        <div class="row">
            <div class="col-3">
                <div class="shadow  bg-white p-3 rounded">
                    <a (click)="view1()" routerLink="" class="nav-link mt-2">
                        <svg *ngIf="showPanel1" class="active rounded" width="8" height="16">
                            <use xlink:href="#grid" />
                        </svg>{{"HOME.QUEES" | translate}}
                    </a>
                    <a (click)="view2()" routerLink="" class="nav-link ">
                        <svg *ngIf="showPanel2" class="active rounded" width="8" height="16">
                            <use xlink:href="#grid" />
                        </svg>{{"HOME.TIPOS" | translate}}

                    </a>
                    <a (click)="view3()" routerLink="" class="nav-link ">
                        <svg *ngIf="showPanel3" class="active rounded" width="8" height="16">
                            <use xlink:href="#grid" />
                        </svg>{{"HOME.DONDE" | translate}}
                    </a>
                    <a (click)="view4()" routerLink="" class="nav-link ">
                        <svg *ngIf="showPanel4" class="active rounded" width="8" height="16">
                            <use xlink:href="#grid" />
                        </svg>
                        {{"HOME.PREGUNTASFRECUENTES" | translate}}
                    </a>
                </div>
            </div>
            <div class="col-9">
                <div *ngIf="showPanel1" class="col-md shadow p-4 bg-white rounded me-5">
                    <h1>{{"HOME.QUEES" | translate}}</h1>
                    <p class="mt-4">{{"HOME.VIOLENCIAESTODO" | translate}}</p>
                    <p class="mt-4">{{"HOME.ESTASAGRESIONES" | translate}}</p>
                    <div class="text-center">
                        <button class="btn btn-dark" routerLink="/faq">{{"HOME.SABERMAS" | translate}}</button>
                    </div>
                </div>
                <div *ngIf="showPanel2" class="col-md shadow p-4 bg-white rounded me-5">
                    <h1>{{"HOME.TIPOS" | translate}}</h1>
                    <h6 class="mt-4">{{"HOME.TIPOS" | translate}}</h6>
                    <p class="mt4">{{"HOME.LAVIOLENCIA" | translate}}</p>
                    <div class="text-center">
                        <button class="btn btn-dark" routerLink="/faq">{{"HOME.SABERMAS" | translate}}</button>
                    </div>
                </div>
                <div *ngIf="showPanel3" class="col-md shadow p-4 bg-white rounded me-5">
                    <h1>{{"HOME.DONDE" | translate}}</h1>
                    <div class="mt-4">                       
                        <p>{{"HOME.SIERES" | translate}}</p>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-dark" routerLink="/faq">{{"HOME.SABERMAS" | translate}}</button>
                    </div>
                </div>
                <div *ngIf="showPanel4" class="col-md shadow p-4 bg-white rounded me-5">
                    <h1>{{"HOME.PREGUNTASFRECUENTES" | translate}}</h1>
                    <h6 class="mt-4">{{"HOME.QUEESLAVIOLENCIA" | translate}}</h6>
                    <p class="mt-4">{{"HOME.LAVIOLENCIABASADA" | translate}}</p>
                    <div class="text-center">
                        <button class="btn btn-dark" routerLink="/faq">{{"HOME.SABERMAS" | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container shadow p-4 mb-5 bg-white rounded">
        <h2>{{"HOME.ACERCADE" | translate}}</h2>
        <p>{{"HOME.SOMOS" | translate}}</p>
        <div class="row row-cols-auto justify-content-md-center">
            <div class="col-md col-sm-6">
                <div class="card border-light shadow rounded">
                    <img src="../../assets/images/Johan.png">
                    <div class="card-text mt-4 ">
                        <h3 class="mt-2">Johan Silva</h3>
                        <h5>Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-md col-sm-6">
                <div class="card border-light shadow rounded">
                    <img src="../../assets/images/JeissonI.jpg">
                    <div class="card-text">
                        <h3>Jeisson Infante</h3>
                        <h5>Scrum Master</h5>
                    </div>
                </div>
            </div>
            <div class="col-md col-sm-6">
                <div class="card border-light shadow rounded">
                    <img src="../../assets/images/sebasC.jpg">
                    <div class="card-text">
                        <h3>Sebastián Cardozo</h3>
                        <h5>Product Owner</h5>
                    </div>
                </div>
            </div>
            <div class="col-md col-sm-6">
                <div class="card border-light shadow rounded">
                    <img src="../../assets/images/sebas23.png">
                    <div class="card-text">
                        <h3>Sebastian Palacio</h3>
                        <h5>Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-md col-sm-6">
                <div class="card border-light shadow rounded">
                    <img src="../../assets/images/Brayan.png">
                    <div class="card-text">
                        <h3>Brayan Villamiazar</h3>
                        <h5>Developer</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <button class="btn btn-dark" routerLink="/aboutUs">{{"HOME.SABERMAS"| translate}}</button>
        </div>
    </div>
</section>
<section id="help" class="color p-4 mt-2">
    <div class="container shadow p-3 mb-2 rounded  text-center">
        <h1>{{"HOME.NUESTRASPUERTAS" | translate}}</h1>
        <p>{{"HOME.ATENCIONINTEGRAL" | translate}}</p>
        <button class="btn btn-dark mt-3" routerLink="/ayuda">{{"HOME.AYUDA" | translate}}</button>
    </div>
</section>

<button *ngIf="showBotton" (click)="onScrollTop()" class="buttonUp"><img src="../../assets/images/flecha2.jpg "
        width="35" height="35" class="center" class="rounded-circle"></button>

