<section id="up" class="hero">
    <div class="container">
        <h1>No a la violencia de género</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias eius dolore libero quidem ratione at velit
            ad
            esse. Accusantium, illum corrupti quam aliquid ullam porro est temporibus! Nulla, culpa! Harum?</p>
    </div>
</section>

<section style="position: relative; bottom: 2rem;">
    <div class="container-sm mb-5">
        <div class="row">
            <div class="col-3">

                <div class="shadow  bg-white p-3 rounded">
                    <a (click)="view1()" routerLink="" class="nav-link mt-2">
                        <svg *ngIf="showPanel1" class="active rounded" width="8" height="16">
                            <use xlink:href="#grid" />
                        </svg>
                        ¿Qué es?
                    </a>
                    <a (click)="view2()" routerLink="" class="nav-link ">
                        <svg *ngIf="showPanel2" class="active rounded" width="8" height="16">
                            <use xlink:href="#grid" />
                        </svg>
                        Tipos de violencia
                    </a>
                    <a (click)="view3()" routerLink="" class="nav-link ">
                        <svg *ngIf="showPanel3" class="active rounded" width="8" height="16">
                            <use xlink:href="#grid" />
                        </svg>
                        ¿Dónde Denunciar?
                    </a>
                    <a (click)="view4()" routerLink="" class="nav-link ">
                        <svg *ngIf="showPanel4" class="active rounded" width="8" height="16">
                            <use xlink:href="#grid" />
                        </svg>
                        Preguntas Frecuentes
                    </a>
                </div>


            </div>

            <div class="col-9">
                <div *ngIf="showPanel1" class="col-md shadow p-4 bg-white rounded me-5">
                    <h1>¿Qué es?</h1>
                    <br>
                    <p>Violencia es todo acto, acción u omisión que produzca daño o sufrimiento físico, sexual,
                        psicológico,
                        verbal, o económico a una persona; puede ocurrir en público o en privado. Las situaciones
                        violentas
                        ocurren cada vez que una persona impone su poder sobre otra vulnerando sus derechos. </p>
                    <p>Estas agresiones son ejercidas contra cualquier persona o grupo de personas sobre la base de su
                        sexo
                        o género. Las violencias impactan de manera negativa en su identidad y bienestar social, físico,
                        psicológico o económico. Es importante tener en cuenta que las diferentes formas de violencia
                        pueden
                        iniciar con manifestaciones muy sutiles que van aumentando con la posibilidad de producir daños
                        físicos o emocionales irreparables, e incluso, la muerte.</p>
                    <div class="text-center">
                        <button class="btn btn-dark" routerLink="/faq">Saber más</button>
                    </div>
                </div>
                <div *ngIf="showPanel2" class="col-md shadow p-4 bg-white rounded me-5">
                    <h1>Tipos de violencias</h1>
                    <br>
                    <h6>Tipos de violencia</h6>
                    <p>La violencia puede estar presente en cualquier ámbito; sea en el doméstico o en el público, el
                        lugar de trabajo, la calle, el transporte público, el colegio, etc. Ante esto, todos tenemos la
                        responsabilidad de romper el silencio y denunciar. Para ello es importante que aprendas a
                        diferenciar los distintos tipos de violencia que existen para poder identificarlos.</p>
                    <div class="text-center">
                        <button class="btn btn-dark" routerLink="/faq">Saber más</button>
                    </div>
                </div>
                <div *ngIf="showPanel3" class="col-md shadow p-4 bg-white rounded me-5">
                    <h1>¿Dónde denunciar?</h1>
                    <br>
                    <p>Si crees que has sido víctima de alguna forma de violencia de género o sexual, acércate a
                        cualquiera de las clínicas Profamilia a nivel nacional para recibir el apoyo necesario e iniciar
                        con la ruta de atención integral. Con nosotros podrás encontrar atención humanizada y libre de
                        discriminación en el marco de los Derechos Sexuales y los Derechos Reproductivos. Puedes tener
                        la tranquilidad y la certeza que toda la información será tratada dentro de la reserva y
                        confidencialidad que la ley exige y que Profamilia promueve y respeta.</p>
                    <p>Si eres víctima de cualquier tipo de violencia basada en género debes solicitarle a tu EPS
                        atención integral e inmediata, de manera gratuita. Cualquier negativa a cumplir con esta
                        obligación, que está inmersa en el plan de beneficios en salud, es una falta al ejercicio del
                        derecho a la salud.</p>
                    <div class="text-center">
                        <button class="btn btn-dark" routerLink="/faq">Saber más</button>
                    </div>
                </div>
                <div *ngIf="showPanel4" class="col-md shadow p-4 bg-white rounded me-5">
                    <h1>Preguntas Frecuentes</h1>
                    <br>
                    <h6>¿Qué es la violencia basada en género?</h6>
                    <p>La violencia basada en género incluye cualquier acto de maltrato físico, sexual, psicológico y/o
                        económico contra una persona con motivo de su sexo, incluyendo actos de privación de la
                        libertad, tanto en el ámbito público como privado. Hombres y mujeres son víctimas de violencia
                        basada en género debido a los roles y características que se les atribuyen en las diferentes
                        sociedades.</p>
                    <div class="text-center">
                        <button class="btn btn-dark" routerLink="/faq">Saber más</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container shadow p-4 mb-5 bg-white rounded">
        <h2 class="mt-1">Acerca de Nuestro Equipo</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus aperiam officiis at molestiae repellat
            ullam. Ipsa dolorum suscipit similique veritatis at sit, fugit, modi error, optio dolores pariatur aperiam
            nesciunt.</p>
        <div class="row row-cols-auto justify-content-md-center">
            <div class="col-md col-sm-6">
                <div class="card shadow rounded">
                    <img src="../../assets/images/Figura_hombre2.jpg">
                    <div class="card-text mt-4 ">
                        <h3 class="mt-2">Johan Silva</h3>
                        <h5>Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-md col-sm-6">
                <div class="card shadow rounded">
                    <img src="../../assets/images/Figura_hombre2.jpg">
                    <div class="card-text">
                        <h3>Jeisson Infante</h3>
                        <h5>Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-md col-sm-6">
                <div class="card shadow rounded">
                    <img src="../../assets/images/Figura_hombre2.jpg">
                    <div class="card-text">
                        <h3>Sebastian Cardozo</h3>
                        <h5>Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-md col-sm-6">
                <div class="card shadow rounded">
                    <img src="../../assets/images/sebas23.png">
                    <div class="card-text">
                        <h3>Sebastian Palacio</h3>
                        <h5>Developer</h5>
                    </div>
                </div>
            </div>
            <div class="col-md col-sm-6">
                <div class="card shadow rounded">
                    <img src="../../assets/images/Figura_hombre2.jpg">
                    <div class="card-text">
                        <h3>Brayan Villamiazar</h3>
                        <h5>Developer</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <button class="btn btn-dark" routerLink="/aboutUs">Conocer más</button>
        </div>
    </div>
</section>
<section id="help" class="color">
    <br>
    <div class="container shadow p-3 mb-5 rounded  text-center">
        <br>
        <h1>Nuestras puertas abiertas, siempre</h1>
        <br>
        <p>Atención integral a las víctimas de violencias basadas en género y violencia sexual</p>
        <button class="btn btn-dark">Ayuda</button>
    </div>
    <br>
</section>

<button *ngIf="showBotton" (click)="onScrollTop()" class="buttonUp"><img src="../../assets/images/flecha2.jpg "
        width="35" height="35" class="center" class="rounded-circle"></button>


<footer class="text-center text-lg-start bg-dark text-white">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
        </div>
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>

    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Vigen
                    </h6>
                    <p>
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Angular</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">React</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Vue</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Laravel</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Pricing</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Orders</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> Colombia</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        Vigen@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 57 315 698 569</p>
                    <p><i class="fas fa-print me-3"></i> + 57 321 456 985</p>
                </div>

            </div>

        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="">Vigen.com</a>
    </div>

</footer>