<section id="up" class="hero">
    <div class="container">
        <h1>{{"HOME.NOALAVIOLENCIADEGENERO" | translate}}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias eius dolore libero quidem ratione at velit
            ad
            esse. Accusantium, illum corrupti quam aliquid ullam porro est temporibus! Nulla, culpa! Harum?</p>

    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<section class="sobreponer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="width: 16rem;  height: 8rem;">
                <div>
                    <a (click)="view1()" routerLink="" class="nav-link ">
                        <svg *ngIf="showPanel1" class="active rounded" width="8" height="16">
                            <use xlink:href="#grid" />
                        </svg>{{"HOME.QUEES" | translate}}

                    </a>
                    <a (click)="view2()" routerLink="" class="nav-link ">
                        <svg *ngIf="showPanel2" class="active rounded" width="8" height="16">
                            <use xlink:href="#grid" />
                        </svg>{{"HOME.TIPOS" | translate}}

                    </a>
                    <a (click)="view3()" routerLink="" class="nav-link ">
                        <svg *ngIf="showPanel3" class="active rounded" width="8" height="16">
                            <use xlink:href="#grid" />
                        </svg>{{"HOME.DONDE" | translate}}

                    </a>
                    <a (click)="view4()" routerLink="" class="nav-link ">
                        <svg *ngIf="showPanel4" class="active rounded" width="8" height="16">
                            <use xlink:href="#grid" />
                        </svg>{{"HOME.PREGUNTASFRECUENTES" | translate}}
                    </a>
                </div>
            </div>

            <div *ngIf="showPanel1" class="col-md-8 offset-md-1 shadow p-3 mb-5 bg-white rounded">
                <h1>{{"HOME.QUEES" | translate}}</h1>
                <br>
                <p>{{"HOME.VIOLENCIAESTODO" | translate}}</p>
                <p>{{"HOME.ESTASAGRESIONES" | translate}}</p>
                <a class="centro" routerLink="/faq">{{"HOME.SABERMAS" | translate}}</a>
            </div>
            <div *ngIf="showPanel2" class="col-md-8 offset-md-1 shadow p-3 mb-5 bg-white rounded">
                <h1>{{"HOME.TIPOS" | translate}}</h1>
                <br>
                <h6>{{"HOME.TIPOS" | translate}}</h6>
                <p>{{"HOME.LAVIOLENCIA" | translate}}</p>
                <a class="centro" routerLink="/faq">{{"HOME.SABERMAS" | translate}}</a>
            </div>
            <div *ngIf="showPanel3" class="tipos" class="col-md-8 offset-md-1 shadow p-3 mb-5 bg-white rounded">
                <h1>{{"HOME.DONDE" | translate}}</h1>
                <br>
                <p>{{"HOME.SICREES" | translate}}</p>
                <p>{{"HOME.SIERES" | translate}}</p>
                <a class="centro" routerLink="/faq">{{"HOME.SABERMAS" | translate}}</a>
            </div>
            <div *ngIf="showPanel4" class="tipos" class="col-md-8 offset-md-1 shadow p-3 mb-5 bg-white rounded">
                <h1>{{"HOME.PREGUNTASFRECUENTES" | translate}}</h1>
                <br>
                <h6>{{"HOME.QUEESLAVIOLENCIA" | translate}}</h6>
                <p>{{"HOME.LAVIOLENCIABASADA" | translate}}</p>
                <a class="centro" routerLink="/faq">{{"HOME.SABERMAS" | translate}}Saber más</a>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <h2>{{"HOME.ACERCADE" | translate}}</h2>
        <div class="row row-cols-auto justify-content-md-center">
            <div class="col">
                <img src="../../assets/images/Figura_hombre2.jpg">
            </div>
            <div class="col">
                <img src="../../assets/images/Figura_hombre2.jpg">
            </div>
            <div class="col">
                <img src="../../assets/images/Figura_hombre2.jpg">
            </div>
            <div class="col">
                <img src="../../assets/images/Figura_hombre2.jpg">
            </div>
            <div class="col">
                <img src="../../assets/images/Figura_hombre2.jpg">
            </div>

        </div>
    </div>
</section>
<section id="help" class="color">
    <br>
    <div class="container shadow p-3 mb-5 rounded  text-center">
        <br>
        <h1>{{"HOME.NUESTRASPUERTAS" | translate}}</h1>
        <br>
        <p>{{"HOME.ATENCIONINTEGRAL" | translate}}</p>
        <button class="btn btn-dark">{{"HOME.AYUDA" | translate}}</button>

    </div>
    <br>
</section>

<button *ngIf="showBotton" (click)="onScrollTop()" class="buttonUp"><img src="../../assets/images/flecha2.jpg "
        width="35" height="35" class="center" class="rounded-circle"></button>


<footer class="text-center text-lg-start bg-dark text-white">

    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

        <div class="me-5 d-none d-lg-block">

        </div>

        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>

    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Vigen
                    </h6>
                    <p>
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">
                        {{"HOME.PRODUCTOS" | translate}}</h6>
                        <p>
                            <a href="#!" class="text-reset">Angular</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">React</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Vue</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Laravel</a>
                        </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">
                        {{"HOME.LINKS" | translate}}
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">{{"HOME.VALORAR" | translate}}</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">{{"HOME.OPCIONES" | translate}}</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">{{"HOME.PEDIDOS" | translate}}</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">{{"HOME.CONTACTO" | translate}}</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">{{"HOME.22" | translate}}
                    </h6>
                    <p><i class="fas fa-home me-3"></i> Colombia</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        Vigen@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 57 315 698 569</p>
                    <p><i class="fas fa-print me-3"></i> + 57 321 456 985</p>
                </div>

            </div>

        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="">Vigen.com</a>
    </div>

</footer>