/*.container{
    width: 90%;
    margin: 0, auto;
    
    overflow: hidden;
    padding: 80px 0;
}*/
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../assets/images/image3.jpg");
    background-size: cover;
    background-position: center;
}

/*
h2{
    color: blueviolet;
    font-size: 2.7rem;
    padding: 50px;
}
h1{
    font-size: 3.5rem;
}
p{
    font-size: 1.25rem;
}*/
.buttonUp {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 3;
    background-color: #593196;
    border: 1px solid blueviolet;
    cursor: pointer;
    font-size: 1.5rem;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
}

.buttonUp:hover {
    background-color: darkslateblue;
    border: 1px solid white;
    font-size: 2rem;
}

.color {
    /*background-color: #593196;*/
    /*background-color: #d999bf;*/
    background-color: #e0d5f1;

}

.sobreponer {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 550px;
    left: 100px;
    min-width: 300px;
}

@media screen and (max-width:800px) {
    .sobreponer {
        background-color: red;
        width: 200px;
    }
}

.centro {

    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    padding: 0, 5rem;
    background-color: #593196;
    color: white;
    text-decoration: none;
}

/*button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: blueviolet;
    margin: 10px;
}*/