<div>
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand ms-5" href="#">Vigen</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Vigen</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="..\home\home.component.html">{{"PANEL.INICIO"| translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{{"PANEL.ESTADISTICAS"| translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{{"PANEL.SOBRENOSOTROS"| translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{{"PANEL.PERFIL"| translate}}</a>
            </li>
            <hr />
            <div class="dropdown">
              <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../../assets/images/kes.jpg" alt="" width="32" height="32" class="rounded-circle me-2" />
                <strong>SebasDesign</strong>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">{{"PANEL.NUEVOPROYECTO"| translate}}</a></li>
                <li><a class="dropdown-item" href="#">{{"PANEL.OPCIONES"| translate}}</a></li>
                <li><a class="dropdown-item" href="#">{{"PANEL.PERFIL"| translate}}</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">{{"PANEL.SALIR"| translate}}</a></li>
              </ul>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<div>
  <img class="banner" src="../../assets/images/violenciabanner.jfif" alt="" />
</div>
<div>
  <p class="parrafo">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aut
    blanditiis deleniti tenetur at, dignissimos, et similique omnis provident
    odit necessitatibus, soluta explicabo quas temporibus accusantium reiciendis
    laborum. Est voluptates ducimus consequatur itaque magni id cum sequi
    excepturi ratione nulla, obcaecati nesciunt odit quos natus fugit ipsam!
    Deserunt doloribus tenetur ratione amet! Mollitia eos assumenda animi nisi
    itaque qui, perferendis, deserunt ex nam, quod voluptates architecto
    suscipit! Illo, expedita odit. Ea, iste nostrum molestiae dolores mollitia
    tempore doloremque consequuntur quasi eligendi. Tenetur natus aspernatur ut
    veniam cumque. Autem voluptatum, sed alias at inventore optio a, officia
    ullam cumque aliquid impedit.
  </p>
</div>
  <div class="container">
    <div class="row justify-content-evenly">
      <div class="col-sm-6">
        <img class="image1" src="" alt="" />
    </div>
    <div class="col-sm-6">
      <p class="parrafoGrafica">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        veniam magni odit est, iusto expedita accusantium saepe optio fugit
        perspiciatis sequi molestiae. Provident earum amet beatae nisi est non
        dolor tempore fuga recusandae, impedit, doloribus, reprehenderit ipsum
        sit. Consequuntur ex enim nisi natus atque soluta odit ratione quos
        tenetur doloremque.
      </p>
    </div>
    <div class="row justify-content-evenly">
      <div class="col-sm-6">
        <img class="image2" src="" alt="" />
      </div>
      <div class="col-sm-6">
        <p class="parrafoGrafica">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae
          voluptatibus ea perspiciatis? Modi ut ex hic ullam. Libero, corporis
          rem! Molestias maxime corrupti maiores nisi reprehenderit in
          repellendus tempore rerum quidem sapiente id pariatur recusandae
          earum veritatis aliquam laudantium, asperiores eligendi. Ad aperiam
          aut neque sit tempora cum voluptate eligendi.
        </p>
      </div>
      <div class="row justify-content-evenly">
        <div class="col-sm-6">
          <img class="image3" src="" alt="" />
        </div>
        <div class="col-sm-6">
          <p class="parrafoGrafica">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
            odit cum sed, culpa provident nemo ipsum minus nam adipisci
            quibusdam, accusamus eveniet, numquam quisquam temporibus.
            Aperiam rerum officia voluptatibus adipisci. Ex enim earum
            molestias, quis quam sint saepe odio nobis? Repudiandae magnam
            iusto nobis culpa exercitationem minima asperiores vero!
            Consequuntur!
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
