<div class="container-fluid">
  <div class="row flex-nowrap shadow">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark text-white ">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-5 d-none d-sm-inline mt-3">Menu</span>
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start text-white"
              id="menu">
              <li class="nav-item ms-3">
                  <a routerLink="/pOrg" class="nav-link align-middle px-0">
                      <fa-icon style="color: white" [icon]="['fas', 'house']"></fa-icon><span
                          class="ms-1 d-none d-sm-inline text-white">Home</span>
                  </a>
              </li>
              <li class="nav-item ms-3">
                  <a routerLink="/edOrg" class="nav-link px-0 align-middle">
                      <fa-icon style="color: white" [icon]="['fas', 'briefcase']"></fa-icon> <span
                          class="ms-1 d-none d-sm-inline text-white">Perfil</span>
                  </a>
              </li>
              <li class="nav-item ms-3">
                  <a routerLink="/statis" class="nav-link px-0 align-middle">
                      <fa-icon style="color: white" [icon]="['fas', 'chart-line']"></fa-icon> <span
                          class="ms-1 d-none d-sm-inline text-white">Estadisticas</span>
                  </a>
              </li>
              <app-reportes></app-reportes>
          </ul>
      </div>
  </div>
    <div class="col color p-4">
        <app-poll-stadistics></app-poll-stadistics>
    </div>
  </div>
</div>
