<div class="container">
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4">
                <div class="text-center">
                    <img src="../../assets/images/user.png" alt="usuario" width="48">
                    <h2>{{"LOGIN.TITULO" | translate}}</h2>
                </div>
                <form action="">
                    <div class="md-4">
                        <label for="email" class="form-label">{{"LOGIN.CORREO" | translate}}</label>
                        <input type="email" class="form-control" name="email">
                    </div>
                    <div class="md-4">
                        <label for="password" class="form-label">{{"LOGIN.CONTRASEÑA" | translate}}</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="md-4 form-check">
                        <input type="checkbox" name="connected" class="form-check-input">
                        <label for="connected" class="form-check-label">{{"LOGIN.MANTENER_CONECTADO" | translate}}</label>
                    </div>
                    <div class="d-grid">
                        <!--button (click)="showModal()" type="submit" class="btn btn-primary">Iniciar sesión</button-->
                    </div>
                </form>
            </div>
        </div>
    </div>
