<section style="margin-top: 7rem;">
    <div class="container">
        <h1><b>{{"ACERCA.CONOCEMAS"| translate}}</b></h1>
        <hr>
        <div class="mt-4">
            <h4><b>{{"ACERCA.NUESTRAMISION"| translate}}</b></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est praesentium, veniam modi nemo neque in
                dolore libero assumenda non quam. Optio eveniet dignissimos et nostrum nobis cupiditate ipsam!
                Recusandae, minus.</p>
        </div>
        <div class="mt-4">
            <h4><b>{{"ACERCA.NUESTRAVISION"| translate}}</b></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est praesentium, veniam modi nemo neque in
                dolore libero assumenda non quam. Optio eveniet dignissimos et nostrum nobis cupiditate ipsam!
                Recusandae, minus.</p>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mt-4">
                    <h4><b>{{"ACERCA.OBJETIVOSGENERALES"| translate}}</b></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est praesentium, veniam modi nemo neque
                        in dolore libero assumenda non quam. Optio eveniet dignissimos et nostrum nobis cupiditate
                        ipsam! Recusandae, minus.</p>
                </div>
            </div>
            <div class="col-6">
                <div class="mt-4">
                    <h4><b>{{"ACERCA.OBJETIVOSESPECIFICOS"| translate}}</b></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est praesentium, veniam modi nemo neque
                        in dolore libero assumenda non quam. Optio eveniet dignissimos et nostrum nobis cupiditate
                        ipsam! Recusandae, minus.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>