<section style="margin-top: 7rem;">
    <div class="container">
        <h1><b>{{"ACERCA.CONOCEMAS"| translate}}</b></h1>
        <hr>
        <div class="mt-4">
            <h4><b>{{"ACERCA.NUESTRAMISION"| translate}}</b></h4>
            <p>{{"ACERCA.MISION"| translate}}</p>
        </div>
        <div class="mt-4">
            <h4><b>{{"ACERCA.NUESTRAVISION"| translate}}</b></h4>
            <p>{{"ACERCA.VISION"| translate}}</p>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mt-4">
                    <h4><b>{{"ACERCA.OBJETIVOSGENERALES"| translate}}</b></h4>
                    <p>{{"ACERCA.OBJETIVOGENERAL"| translate}}</p>
                </div>
            </div>
            <div class="col-6">
                <div class="mt-4">
                    <h4><b>{{"ACERCA.OBJETIVOSESPECIFICOS"| translate}}</b></h4>
                    <p>{{"ACERCA.OBJETIVOESPECIFICOS1"| translate}}</p>
                    <p>{{"ACERCA.OBJETIVOESPECIFICOS2"| translate}}</p>
                    <p>{{"ACERCA.OBJETIVOESPECIFICOS3"| translate}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
