<div class="container-fluid" style="margin-top: 5rem;">
    <div class="row flex-nowrap">
        <div class="col p-4">
            <app-side class="fixed-bottom"></app-side>
            <form (ngSubmit)="onSubmit()" [formGroup]="formUser">
                <Section>
                    <div class="container shadow p-4 bg-white mb-2">
                        <h4><b>{{"EDIT-USER.INFBAS" | translate}}</b></h4>
                        <hr>
                        <div class="form">
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-USER.IDENTIFICATION" |
                                    translate}}</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control rounded"
                                        [ngClass]="{'is-invalid':formUser.get('identification')?.touched && !formUser.get('identification')?.valid}"
                                        formControlName="identification" readonly>
                                    <div class="invalid-feedback">
                                        {{"REC.IDENVAL"|translate}}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-USER.NOMBRE" | translate}}</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control rounded"
                                        [ngClass]="{'is-invalid':formUser.get('name')?.touched && !formUser.get('name')?.valid}"
                                        formControlName="name">
                                    <div class="invalid-feedback">
                                        {{"REC.NAMEVAL"|translate}}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-USER.GÉNERO" | translate}}</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control rounded"
                                        [ngClass]="{'is-invalid':formUser.get('gender')?.touched && !formUser.get('gender')?.valid}"
                                        formControlName="gender">
                                    <div class="invalid-feedback">
                                        {{"REC.GENVAL"|translate}}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-USER.FECHANA" |
                                    translate}}</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control rounded"
                                        [ngClass]="{'is-invalid':formUser.get('birthdate')?.touched && !formUser.get('birthdate')?.valid}"
                                        formControlName="birthdate">
                                    <div class="invalid-feedback">
                                        {{"REC.FECHAVAL"|translate}}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-USER.ESTADOCI" |
                                    translate}}</label>
                                <div class="col-sm-9 ">
                                    <input type="text" class="form-control rounded"
                                        [ngClass]="{'is-invalid':formUser.get('maritalStatus')?.touched && !formUser.get('maritalStatus')?.valid}"
                                        formControlName="maritalStatus">
                                    <div class="invalid-feedback">
                                        {{"REC.ESTADOVAL"|translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </Section>
                <Section class="mt-5">
                    <div class="container shadow p-4">
                        <h4><b>{{"EDIT-USER.INFOCON" | translate}}</b></h4>
                        <hr>
                        <div class="form">
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-USER.CORREO" | translate}}</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control rounded"
                                        [ngClass]="{'is-invalid':formUser.get('email')?.touched && !formUser.get('email')?.valid}"
                                        formControlName="email">
                                    <div class="invalid-feedback">
                                        {{"REC.CORVAL"|translate}}
                                    </div>

                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-USER.OCUPACIÓN" |
                                    translate}}</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control rounded"
                                        [ngClass]="{'is-invalid':formUser.get('occupation')?.touched && !formUser.get('occupation')?.valid}"
                                        formControlName="occupation">
                                    <div class="invalid-feedback">
                                        {{"REC.OCUPVAL"|translate}}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-USER.COUNTRYCODE" |
                                    translate}}</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control rounded"
                                        [ngClass]="{'is-invalid':formUser.get('countryCode')?.touched && !formUser.get('countryCode')?.valid}"
                                        formControlName="countryCode">
                                    <div class="invalid-feedback">
                                        {{"REC.CODVAL"|translate}}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-USER.POSTALCODE" |
                                    translate}}</label>
                                <div class="col-sm-9 ">
                                    <input type="text" class="form-control rounded"
                                        [ngClass]="{'is-invalid':formUser.get('postalCode')?.touched && !formUser.get('postalCode')?.valid}"
                                        formControlName="postalCode">
                                    <div class="invalid-feedback">
                                        {{"REC.CODPOSVAL"|translate}}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-USER.TELÉFONO" |
                                    translate}}</label>
                                <div class="col-sm-9 ">
                                    <input type="text" class="form-control rounded"
                                        [ngClass]="{'is-invalid':formUser.get('phone')?.touched && !formUser.get('phone')?.valid}"
                                        formControlName="phone">
                                    <div class="invalid-feedback">
                                        {{"REC.CELVAL"|translate}}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-USER.UBICATION" |
                                    translate}}</label>
                                <div class="col-sm-9 ">
                                    <input type="text" class="form-control rounded"
                                        [ngClass]="{'is-invalid':formUser.get('ubication')?.touched && !formUser.get('ubication')?.valid}"
                                        formControlName="ubication">
                                    <div class="invalid-feedback">
                                        {{"REC.UBICACIONVAL"|translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <app-map (latLngEvent)="getUbication($event)" [latLng]="formUser.value['ubication']">
                                </app-map>
                            </div>
                        </div>
                    </div>
                </Section>
                <Section class="mt-5">
                    <div class="container shadow p-4">
                        <h4><b>{{"EDIT-USER.CONTRA" | translate}}</b></h4>
                        <hr><br>
                        <div class="form">
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-USER.CONTRA" | translate}}</label>
                                <div class="col-sm-9 ">
                                    <input type="password" class="form-control rounded" formControlName="password">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-USER.NEWCONTRA" |
                                    translate}}</label>
                                <div class="col-sm-9 ">
                                    <input type="password" class="form-control rounded" formControlName="newPassword">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-USER.CONFCONTRA" |
                                    translate}}</label>
                                <div class="col-sm-9 ">
                                    <input type="password" class="form-control rounded"
                                        formControlName="confirmPassword">
                                </div>
                            </div>
                        </div>
                    </div>
                </Section>
                <div class="conatiner text-center mt-4">
                    <button type="submit" class="btn btn-dark">{{"EDIT-USER.GUARDAR" | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>