
<!--<div class="container">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <form [formGroup]="form" (submit) ="sendLogin()" class="form">
                <div class="imagenUser">
                    <img src="../../assets/images/user.png" class="figure-img img-fluid rounded " alt="...">
                </div>
                <br>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">{{"EDIT-USER.USERNAME" | translate}}</label>
                    <div class="col-sm-9 ms-3">
                        <input formControlName="userName" type="text" class="form-control" placeholder="Username">
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">{{"EDIT-USER.EMAIL" | translate}}</label>
                    <div class="col-sm-9 ms-3">
                        <input formControlName="correo" type="email" class="form-control"  placeholder="Email">
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">{{"EDIT-USER.PASSWORD" | translate}}</label>
                    <div class="col-sm-9 ms-3">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-3">
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary ms-4">{{"EDIT-USER.BUTTON1" | translate}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary ms-3">{{"EDIT-USER.BUTTON2" | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
-->
<section id="up" class="hero">
    <div class="container">
        <h1><b>Información de perfil</b></h1>
    </div>
</section>
<svg style="position: absolute; bottom: 8rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffff" fill-opacity="1" d="M0,224L1440,288L1440,320L0,320Z"></path></svg>
<Section >
    <div class="container shadow p-4 bg-white mb-2">
        <h4><b>Información básica</b></h4>
        <hr>
        <div class="form">
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Nombre</label>
                 <div class="col-sm-9 ms-3">
                    <input type="text"class="form-control rounded" >
                 </div>   
            </div><hr>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Género</label>
                 <div class="col-sm-9 ms-3">
                    <input type="text"class="form-control rounded" name="" id="">
                 </div>   
            </div><hr>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Fecha de Nacimiento</label>
                 <div class="col-sm-9 ms-3">
                    <input type="text"class="form-control rounded">
                 </div>   
            </div><hr>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Estado civil</label>
                 <div class="col-sm-9 ms-3">
                    <input type="text"class="form-control rounded">
                 </div>   
            </div>           
        </div>
    </div>
</Section>
<Section class="mt-5">
    <div class="container shadow p-4">
        <h4><b>Información de Contacto</b></h4>
        <hr>
        <div class="form">
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Correo electronico</label>
                 <div class="col-sm-9 ms-3">
                    <input type="text"class="form-control rounded" >
                 </div>   
            </div><hr>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Ocupación</label>
                 <div class="col-sm-9 ms-3">
                    <input type="text"class="form-control rounded" name="" id="">
                 </div>   
            </div><hr>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Teléfono</label>
                 <div class="col-sm-9 ms-3">
                    <input type="text"class="form-control rounded">
                 </div>   
            </div>
        </div>        
    </div>
</Section>
<Section class="mt-5">
    <div class="container shadow p-4">
        <h4><b>Contraseña</b></h4>
        <hr><br>
        <div class="form">
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Contraseña</label>
                 <div class="col-sm-9 ms-3">
                    <input type="password"class="form-control rounded"  aria-label="Disabled input example" disabled >
                 </div>   
            </div><hr>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Nueva Contraseña</label>
                 <div class="col-sm-9 ms-3">
                    <input type="password"class="form-control rounded" name="" id="">
                 </div>   
            </div><hr>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Confirmar Contraseña</label>
                 <div class="col-sm-9 ms-3">
                    <input type="password"class="form-control rounded">
                 </div>   
            </div>
        </div>        
    </div>
</Section>


