<p>encuesta works!</p>
<section class="color">
    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white">
                    <b>
                        <h1>VIOLENCIA DE GÉNERO</h1>
                    </b>
                    <p>
                        Le invitamos a responder las siguientes preguntas relacionadas al eje de "Violencia de género". La
                        información recopilada mediante este instrumento es de carácter confidencial y tiene fines netamente
                        académicos.
                    </p>
                    <b>
                        <h3>
                            Datos Personales
                        </h3>
                    </b>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white">
                    <h4>Género<label style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Hombre
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Mujer
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="2">
                        <label class="form-check-label" for="flexRadioDefault1">
                            No binario
                        </label>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white">
                    <h4>Orientación Sexual<label style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Heterosexual
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Homosexual
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="2">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Bisexual
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Asexual
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="3">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Pan Sexual
                        </label>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white">
                    <h4>Edad<label style="color:red;">*</label></h4>
                    <input class="margin" type="text" class="shadow form-control rounded" placeholder="Ingrese su edad"
                        style="width: 50%">
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white">
                    <h4>Ciudad/Municipio de residencia<label style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Bogotá
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="2">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Madrid
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="3">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Mosquera
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Facatativá
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Funza
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" value="5">
                            </div>
                        </div>
                        <div class="col-auto">
                            <input class="shadow form-control rounded" placeholder="Otra"
                                style="width: 300px; height: 25px;" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white">
                    <h4>Sector donde vive<label style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Rural
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Urbano
                        </label>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="container shadow mt-4">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-10 shadow bg-white">
                        <b>
                            <h1>VIOLENCIA DE GÉNERO</h1>
                        </b>
                        <p>
                            Le invitamos a responder las siguientes preguntas relacionadas al eje de "Violencia de género". La
                            información recopilada mediante este instrumento es de carácter confidencial y tiene fines netamente
                            académicos.
                        </p>
                        <b>
                            <h3>
                                Datos Personales
                            </h3>
                        </b>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
            <h4>Nivel Educativo<label style="color:red;">*</label></h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                <label class="form-check-label" for="flexRadioDefault1">
                    Básica Primaria
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Básica Secundaria
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="2">
                <label class="form-check-label" for="flexRadioDefault1">
                    Media
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="3">
                <label class="form-check-label" for="flexRadioDefault1">
                    Técnica y/o tecnológica
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                <label class="form-check-label" for="flexRadioDefault1">
                    Pregrado (Universidad)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="5">
                <label class="form-check-label" for="flexRadioDefault1">
                    Postgrado u otros
                </label>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="container shadow mt-4">
            <h4>Estado Civil<label style="color:red;">*</label></h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                <label class="form-check-label" for="flexRadioDefault1">
                    Soltero/a
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Casado/a
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="2">
                <label class="form-check-label" for="flexRadioDefault1">
                    Viudo/a
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="3">
                <label class="form-check-label" for="flexRadioDefault1">
                    Unión Libre
                </label>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="container shadow mt-4">
            <h4> Autorreconocimiento étnico <label style="color:red;">*</label></h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                <label class="form-check-label" for="flexRadioDefault1">
                    Comunidades Negras-Afrocolombianas
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                <label class="form-check-label" for="flexRadioDefault1">
                    Pueblos Indígenas
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                <label class="form-check-label" for="flexRadioDefault1">
                    Pueblo Rrom o Gitano
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                <label class="form-check-label" for="flexRadioDefault1">
                    Raizales y Palenqueras- NARP
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                <label class="form-check-label" for="flexRadioDefault1">
                    Ninguno
                </label>
            </div>
            <div class="row">
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                    </div>
                </div>
                <div class="col-auto">
                    <input class="shadow form-control rounded" placeholder="Otra" style="width: 300px; height: 25px;"
                        type="text">
                </div>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="container shadow mt-4">
            <h4>¿Cuenta con ingresos propios?<label style="color:red;">*</label></h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Sí
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                <label class="form-check-label" for="flexRadioDefault1">
                    No
                </label>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="container shadow mt-4">
            <h4>Actualmente ¿En qué categoría de posición ocupacional se encuentra? <label style="color:red;">*</label></h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="2">
                <label class="form-check-label" for="flexRadioDefault1">
                    Empleado/a particular (Sector privado)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="3">
                <label class="form-check-label" for="flexRadioDefault1">
                    Empleado/a del Gobierno (Sector público)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                <label class="form-check-label" for="flexRadioDefault1">
                    Empleado/a doméstico/a
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="6">
                <label class="form-check-label" for="flexRadioDefault1">
                    Trabajador/a por cuenta propia (Independiente)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="5">
                <label class="form-check-label" for="flexRadioDefault1">
                    Empleador/a
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="7">
                <label class="form-check-label" for="flexRadioDefault1">
                    Trabajador/a familiar sin remuneración
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Estudiante
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                <label class="form-check-label" for="flexRadioDefault1">
                    Desempleado
                </label>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="container shadow mt-4">
            <b>
                <h3>
                    Sección de preguntas
                </h3>
            </b>
            <p>
                ¿Su pareja, familiar u otra persona cercana a usted ha realizado alguna de las siguientes acciones?
            </p>
        </div>
    </section>
    <section>
        <div class="container shadow mt-4">
            <h4>¿Ha observado a esa persona golpear o patear la pared o algún otro mueble?<label
                    style="color:red;">*</label></h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Sí
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                <label class="form-check-label" for="flexRadioDefault1">
                    No
                </label>
            </div>
        </div>
    </section>
    <section>
        <div class="container shadow mt-4">
            <h4>¿Le han amenazado con golpearle?<label style="color:red;">*</label></h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Sí
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                <label class="form-check-label" for="flexRadioDefault1">
                    No
                </label>
            </div>
        </div>
    </section>
    <section>
        <div class="container shadow mt-4">
            <h4>¿Se ha sentido presionado a tener relaciones sexuales?<label style="color:red;">*</label></h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Sí
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                <label class="form-check-label" for="flexRadioDefault1">
                    No
                </label>
            </div>
        </div>
    </section>
    <section>
        <div class="container shadow mt-4">
            <h4>¿Le han destruido algunas de sus pertenencias?<label style="color:red;">*</label></h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Sí
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                <label class="form-check-label" for="flexRadioDefault1">
                    No
                </label>
            </div>
        </div>
    </section>
    <section>
        <div class="container shadow mt-4">
            <h4>¿Le han sacudido, zarandeado, jaloneado o empujado?<label style="color:red;">*</label></h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Sí
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                <label class="form-check-label" for="flexRadioDefault1">
                    No
                </label>
            </div>
        </div>
    </section>
    <section>
        <div class="container shadow mt-4">
            <h4>¿Se ha sentido agredido física o psicológicamente?<label style="color:red;">*</label></h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Sí
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                <label class="form-check-label" for="flexRadioDefault1">
                    No
                </label>
            </div>
        </div>
    </section>
    <section>
        <div class="container shadow mt-4">
            <h4>¿Ha sufrido o sido testigo de algún tipo de violencia? ¿Cuál? <label style="color:red;">*</label></h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="2">
                <label class="form-check-label" for="flexRadioDefault1">
                    Violencia intrafamiliar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="3">
                <label class="form-check-label" for="flexRadioDefault1">
                    Violencia Adulto Mayor
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Violencia Infantil
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                <label class="form-check-label" for="flexRadioDefault1">
                    Violencia de Género
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                <label class="form-check-label" for="flexRadioDefault1">
                    No he sufrido ni visto ninguna de las anteriores
                </label>
            </div>
        </div>
    </section>
</section>