<section class="color p-5">
    <section>
        <div class="container mt-5 ">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white rounded p-3">
                    <b>
                        <h1>{{"ENCUESTA.VIOLENCIAGENERO"| translate}}</h1>
                    </b>
                    <p>{{"ENCUESTA.INVITAMOSRESPONDER"| translate}}
                       
                    </p>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white rounded p-3">
                    <b>
                        <h3>{{"ENCUESTA.DATOSPERSONALES"| translate}}
                        </h3>
                    </b>
                    <hr>
                    <h4>{{"ENCUESTA.GENERO"| translate}}<label style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.HOMBRE"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.MUJER"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="2">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.NOBINARIO"| translate}}
                        </label>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white rounded p-3">
                    <h4>{{"ENCUESTA.ORIENTACIONSEXUAL"| translate}}<label style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.HETEROSEXUAL"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.HOMOSEXUAL"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="2">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.BISEXUAL"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.ASEXUAL"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="3">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.PANSEXUAL"| translate}}
                        </label>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white rounded p-3">
                    <h4>{{"ENCUESTA.EDAD"}}<label style="color:red;">*</label></h4>
                    <input class="margin" type="text" class="shadow form-control rounded" placeholder="Ingrese su edad"
                        style="width: 50%">
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white rounded p-3">
                    <h4>{{"ENCUESTA.CIUDAD"| translate}}<label style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Bogotá
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="2">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Madrid
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="3">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Mosquera
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Facatativá
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Funza
                        </label>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="input-group">
                                <div class="input-group-text">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="5">
                                </div>
                                <input type="text" class="form-control" placeholder="Otra">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white rounded p-3">
                    <h4>{{"ENCUESTA.SECTOR"| translate}}<label style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.RURAL"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.URBANO"| translate}}
                        </label>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white rounded p-3">
                    <h4>{{"ENCUESTA.NIVEL"| translate}}<label style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.BASICAPRIMARIA"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.BASICASECUNDARIA"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="2">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.MEDIA"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="3">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.TECNICO"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.PREGRADO"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="5">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.POSTGRADOS"| translate}}
                        </label>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white rounded p-3">
                    <h4>{{"ENCUESTA.ESTADOCIVIL"| translate}}<label style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.SOLTERO"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.CASADO"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="2">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.VIUDO"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="3">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.UNIONLIBRE"| translate}}
                        </label>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white rounded p-3">
                    <h4> {{"ENCUESTA.ETNICO"| translate}}<label style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.COMUNIDADES"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.PUEBLOS"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.GITANO"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.RAIZALES"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.NINGUNO"| translate}}
                        </label>
                    </div>
                    <div class="row">
                        <div class="input-group">
                            <div class="input-group-text">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" value="5">
                            </div>
                            <input type="text" class="form-control" placeholder="Otra">
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white rounded p-3">
                    <h4>{{"ENCUESTA.CUENTAINGRESOS"| translate}}<label style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.SI"| translate}}Sí
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            No
                        </label>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white rounded p-3">
                    <h4>{{"ENCUESTA.OCUPACIONAL"| translate}} <label
                            style="color:red;">*</label>
                    </h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="2">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.EMPLEADO"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="3">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.GOBIERNO"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.DOMESTICO"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="6">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.CUENTA"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="5">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.EMPLEADOR"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="7">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.FAMILIAR"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.ESTUDIANTES"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.DESEMPLEADO"| translate}}
                        </label>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white rounded p-3">
                    <b>
                        <h3>
                            {{"ENCUESTA.SECCIONPREGUNTAS"| translate}}
                        </h3>
                    </b>
                    <p>{{"ENCUESTA.SUPAREJA"| translate}}
                    </p>
                    <hr>
                    <h4>{{"ENCUESTA.HAOBSERVADO"| translate}}<label
                            style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.SI"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            No
                        </label>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white rounded p-3">
                    <h4>{{"ENCUESTA.AMENAZADO"| translate}}<label style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.SI"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            No
                        </label>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white rounded p-3">
                    <h4>{{"ENCUESTA.PRESIONADO"| translate}}<label style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.SI"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            No
                        </label>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white rounded p-3">
                    <h4>{{"ENCUESTA.DESTRUIDO"| translate}}<label style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.SI"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            No
                        </label>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white rounded p-3">
                    <h4>{{"ENCUESTA.SACUDIDO"| translate}}<label style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.SI"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            No
                        </label>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white rounded p-3">
                    <h4>{{"ENCUESTA.AGREDIDO"| translate}}<label style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.SI"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            No
                        </label>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10 shadow bg-white rounded p-3">
                    <h4>{{"ENCUESTA.SUFRIDO"| translate}}<label
                            style="color:red;">*</label></h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="2">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.VIOLENCIAINTRAFAMILIAR"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="3">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.ADULTOMAYOR"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.INFANTIL"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="4">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.VIOLENCIAGENERO"| translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{"ENCUESTA.NOHESUFRIDO"| translate}}
                        </label>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <button (click)="sendEncuesta()">Finalizar</button>
    </section>
</section>
<app-footer></app-footer>
