<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand ms-5" href="#">Vigen</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Vigen</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">{{"PANEL-USER.MENU" | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{"PANEL-USER.ACTUALIZARPERFIL" | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{"PANEL-USER.LINEASDEATENCION" | translate}}</a>
                    </li>
                    <hr>
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../../assets/images/kes.jpg" alt="" width="32" height="32"
                                class="rounded-circle me-2">
                            <strong>SebasDesign</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">{{"PANEL-USER.PROYECTONUEVO" | translate}}</a></li>
                            <li><a class="dropdown-item" href="#">{{"PANEL-USER.SETTINGS" | translate}}</a></li>
                            <li><a class="dropdown-item" href="#">{{"PANEL-USER.PROFILE" | translate}}</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">{{"PANEL-USER.SIGNOUT" | translate}}</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <!--
</nav>


<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/images/violencia-1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/violencia-2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/violencia-3.jpg" class="d-block w-100" alt="...">
                -->
</nav>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark text-white ">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">

                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline mt-3">{{"PANEL-USER.MENU2" | translate}}</span>
                </a>
                <h4 class="d-none d-sm-inline mx-1 mt-2">{{nameUser}}</h4>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start text-white"
                    id="menu">
                    <li class="nav-item">
                        <a routerLink="/pUser" class="nav-link align-middle px-0">
                            <fa-icon style="color: white" [icon]="['fas', 'house']"></fa-icon> <span
                                class="ms-2 d-none d-sm-inline text-white">{{"PANEL-USER.HOME" | translate}}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/edUser" class="nav-link px-0 align-middle">
                            <fa-icon style="color: white" [icon]="['far', 'user']"></fa-icon> <span
                                class="ms-2 d-none d-sm-inline text-white">{{"PANEL-USER.PERFIL" | translate}}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/encuesta" class="nav-link px-0 align-middle">
                            <fa-icon style="color: white" [icon]="['fas', 'square-poll-horizontal']"></fa-icon> <span
                                class="ms-2 d-none d-sm-inline text-white">{{"PANEL-USER.ENCUESTA" | translate}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col color p-4">
            <div class="container">
                <h1 class="text-dark"><b>Vigen te da la bienvenida</b></h1>
                <hr>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://cdn.pixabay.com/photo/2020/11/18/15/09/plush-bunny-5755581_960_720.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://cdn.pixabay.com/photo/2016/01/30/09/32/violence-against-women-1169348_960_720.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://cdn.pixabay.com/photo/2015/05/02/09/17/hand-749676_960_720.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{"PANEL-USER.ANTERIOR" | translate}}</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{"PANEL-USER.SIGUIENTE" | translate}}</span>
                    </button>
                </div>
            </div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-sm mt-3 mb-3">
                        <h1 class="text-dark">Esta es la señal salva vidas</h1>
                        <p class="mt-3">Un simple gesto como abrir la palma de la mano y ocultar el pulgar bajo los
                            dedos sirve para pedir auxilio ante la violencia de género.</p>
                        <p>Se trata de una señal que ya se ha vuelto universal gracias a su viralización en las redes
                            sociales, propuesta por <b>Canadian Women's Foundation.</b></p>
                    </div>
                    <div class="col-sm">
                        <img src="https://observatorioviolencia.org/wp-content/uploads/singal-4-help.png" alt=""
                            style="height: 100%; width: 100%;">
                    </div>
                </div>
                <div class="text-center text-dark mt-3">
                    <h1>{{"PANEL-USER.SECCIONINF" | translate}}</h1>
                    <hr>
                </div>
                <div class="row">
                    <!--div class="col-6">
                        <h2>Titulo</h2>
                        <div class="TxtPlanteamiento">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and
                            scrambled it to make a type specimen book. It has survived not only five centuries, but also
                            the leap
                            into electronic typesetting, remaining essentially unchanged. It was popularised in the
                            1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>
                    </div>
                    <div class="col-6">
                        <h1></h1>
                        <figure class="figure">
                            <img src="../../assets/images/violencia-3.jpg" class="figure-img img-fluid rounded"
                                alt="...">

                        </figure>
                    </div>
                </div>
            </div>
            <div class="container"-->
                    <div class="col-sm-4">
                        <div class="card shadow">
                            <img src="https://www.eltiempo.com/files/article_main/uploads/2022/09/29/63364155bb56e.jpeg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{"PANEL-USER.DENUNCIAINF" | translate}}</h5>
                                <p class="card-text">{{"PANEL-USER.CONTEDENUNCIA" | translate}}</p>
                                <div class="text-center">
                                    <a href="#" class="btn btn-primary ">{{"PANEL-USER.SABERMAS" | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card shadow">
                            <img src="https://www.eltiempo.com/files/article_main/uploads/2019/10/18/5daa44454348f.jpeg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{"PANEL-USER.POLINF" | translate}}</h5>
                                <p class="card-text">{{"PANEL-USER.POLCONTEN" | translate}}</p>
                                <div class="text-center">
                                    <a href="#" class="btn btn-primary ">{{"PANEL-USER.SABERMAS" | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card shadow">
                            <img src="https://www.eltiempo.com/files/article_main/uploads/2022/04/22/6262be88df4ae.png"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{"PANEL-USER.NUEINF" | translate}}</h5>
                                <p class="card-text">{{"PANEL-USER.NUECONTEN" | translate}}</p>
                                <div class="text-center">
                                    <a href="#" class="btn btn-primary ">{{"PANEL-USER.SABERMAS" | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">


                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{"PANEL-USER.PAIS" | translate}}Country</th>
                            <th scope="col">{{"PANEL-USER.FECHA" | translate}}Date</th>
                            <th scope="col">{{"PANEL-USER.EDITAR" | translate}}Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
                <div class="bd-example">
                    <div class="card mb-3 border-primary">
                        <img class="card-img-top"
                            src="https://cdn.pixabay.com/photo/2021/10/11/17/37/doctor-6701410_960_720.jpg" height="400"
                            width="800" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{"ORG.P1"| translate}}</h5>
                            <p class="card-text">{{"ORG.P2"| translate}}</p>
                            <p class="card-text">{{"ORG.P3"| translate}}</p>
                            <p class="card-text">{{"ORG.P4"| translate}}</p>
                            <p class="card-text">{{"ORG.P5"| translate}}</p>
                        </div>
                    </div>
                    <div class="card mb-3 border-one">
                        <img class="card-img-top"
                            src="https://media.istockphoto.com/vectors/hugging-friends-rear-view-vector-vector-id1310397334?k=20&m=1310397334&s=612x612&w=0&h=tzFMGSt3Fnn7GuZARjBKwJ6HlbqU98I15hDXkyBvgsc="
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{"ORG.P6"| translate}}</h5>
                            <p class="card-text">{{"ORG.P7"| translate}}</p>
                            <p class="card-text">{{"ORG.P8"| translate}}</p>
                        </div>
                    </div>
                    <div class="card mb-3 border-two">
                        <img class="card-img-top"
                            src="https://media.istockphoto.com/photos/siren-light-on-roof-of-police-car-picture-id1292392202?k=20&m=1292392202&s=612x612&w=0&h=eDLilIdaY-YgjhM83vcR17orPrE1EXRiAIwpop2LNQw="
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{"ORG.P9"| translate}}</h5>
                            <p class="card-text">{{"ORG.P10"| translate}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<button class="buttonUp" (click)="formulario()">
    <fa-icon style="color: white;" [icon]="['fas', 'circle-exclamation']"></fa-icon>
</button>