.carousel{
    position: relative;
    top: 25px;
}
.carousel-inner{
    width: 100%;
    height: 500px;
}
.carousel-item{
    height: 100vh;
    min-width: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size:cover;
    background-size: cover;
}
.buttonUp {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 3;
    background-color: red;
    border: 1px solid red;
    cursor: pointer;
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .bd-example {
        position: relative;
        padding: 1rem;
        margin: 1rem -15px 0;
        border: solid #f7f7f9;
        border-width: .2rem 0 0;
    }

    .border-primary {
        border-color: #007bff!important;
    }
    .border-one {
        border-color: red!important;
    }
    .border-two {
        border-color: green!important;
    }

