<br>
<br>
<br>
<br>
<div>
    <hr>
    <section class="container-fluid">
        <div class="container">
            <div class="row justify-content-evenly">
                <div class="col-md-6">
                    <h2>{{"HOME.PARAVICTIMAS" | translate}}</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime similique labore impedit ipsa? Sed
                        dolorem
                        eos ad modi, dignissimos laborum est nostrum sapiente voluptas assumenda culpa quisquam. Possimus,
                        commodi
                        necessitatibus.</p>
                    <button class="btn btn-primary m-2 " routerLink="/rdUser">{{"HOME.BOTONREGISTRAR" | translate}}</button><button class="btn btn-primary m-2" routerLink="/login">{{"HOME.BOTONINGRESAR" | translate}}</button>
                </div>
                <div class="col-md-6">
                    <div class="image__victimas">
                        <img src="../../assets/images/image1.jpg" width="400" height="490">
    
                    </div>
                </div>
            </div>
            <div class="row justify-content-evenly">
                <div class="col-sm-6">
                    <div class="image__entidades">
                        <img src="../../assets/images/image2.jpg"width="490" height="400">
    
                    </div>
                </div>
                <div class="col-sm-6">
                    <h2>{{"HOME.PARAENTIDADES" | translate}}</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime similique labore impedit ipsa? Sed
                        dolorem
                        eos ad modi, dignissimos laborum est nostrum sapiente voluptas assumenda culpa quisquam. Possimus,
                        commodi
                        necessitatibus.</p>
                    <button class="btn btn-primary m-2" routerLink="/rdOrg">{{"HOME.BOTONREGISTRAR" | translate}}</button> <button class="btn btn-primary m-2" routerLink="/login">{{"HOME.BOTONINGRESAR" | translate}}</button>
                </div>
            </div>
    
        </div>
    
    </section>    
</div>
