<section id="up" class="hero" style="margin-top: 5rem;">
    <div class="container text-black" style="margin-top: 4rem;">
        <h1><b>Elige que tipo de cuenta quieres</b></h1>
        <hr>
        <div class="container">
            <h3>{{"HOME.USUARIOCOMUN" | translate}}</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime similique labore impedit ipsa? Sed
                dolorem
                eos ad modi, dignissimos laborum est nostrum sapiente voluptas assumenda culpa quisquam. Possimus,
                commodi
                necessitatibus.</p>
            <button class="btn btn-primary " routerLink="/rdUser">{{"HOME.BOTONREGISTRAR" |
                translate}}</button>
            <div class="col-6 mt-3">
                <h3>{{"HOME.ORGANIZACIONES" | translate}}</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime similique labore impedit ipsa?
                    Sed
                    dolorem
                    eos ad modi, dignissimos laborum est nostrum sapiente voluptas assumenda culpa quisquam.
                    Possimus,
                    commodi
                    necessitatibus.</p>
                <button class="btn btn-primary" routerLink="/rdOrg">{{"HOME.BOTONREGISTRAR" |
                    translate}}</button>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>