<div class="color p-5" style="margin-top: 4rem;">
    <div class="container shadow rounded" style="background-color: #f5f3f7;">
        <div class="row">
            <div class="col-sm p-3  mb-5 rounded ">
                <!--form [formGroup]="form" (submit) ="sendLogin()" class="form"-->
                <form (ngSubmit)="send()">
                    <div class="ms-4 me-4">
                        <h1>{{"REC.REGISTRO" | translate}}</h1>
                        <label>{{"REC.RAPIDO"|translate}}</label>
                        <hr>
                        <p class="mt-2" style="color:red;">{{"REC.CAMPOS" | translate}}</p>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm ms-4 me-4">
                            <label>{{"SITES.COUNTRY" | translate}}<label
                                    style="color:red;">*</label></label>
                            <!--input formControlName="nomOrg" type="text" class="form-control"  placeholder=""-->
                            <input type="text" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="sites[0].countryCode" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm ms-4 me-4">
                            <label>{{"SITES.RANGE" | translate}}<label
                                    style="color:red;">*</label></label>
                            <!--input formControlName="nomOrg" type="text" class="form-control"  placeholder=""-->
                            <input type="text" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="sites[0].range" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm mt-3 ms-4 me-4">
                            <label>NIT<label style="color:red;">*</label></label>
                            <!--input formControlName="nitOrg" type="text" class="form-control" placeholder=""-->
                            <input type="text" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="sites[0].nit" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>
                    <!--<div class="form-group row">
                        <div class="col-sm mt-3 ms-4 me-4">
                            <label>Correo</label>
                            input formControlName="nitOrg" type="text" class="form-control" placeholder=""
                            <input type="email" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="organization.nit" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>-->

                    <div class="form-group row">

                        <div class="col-sm mt-3 ms-4 me-4">
                            <label>{{"SITES.UBICATION" | translate}}<label style="color:red;">*</label></label>
                            <!--input formControlName="telOrg" type="text" class="form-control" placeholder=""-->
                            <input type="text" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="sites[0].ubication" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-sm mt-3 ms-4 me-4">
                            <label>ID<label style="color:red;">*</label></label>
                            <!--input formControlName="telOrg" type="text" class="form-control" placeholder=""-->
                            <input type="text" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="sites[0].id" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>


                    <div class="form-group row mt-3 ms-3 me-3">

                        <div class="col-sm ">
                            <label>{{"SITES.PHONE" | translate}}<label style="color:red;">*</label></label>
                            <!--input formControlName="telOrg" type="text" class="form-control" placeholder=""-->
                            <input type="text" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="sites[0].phone" [ngModelOptions]="{standalone: true}"
                                placeholder="">
                        </div>
                        <div class="col-sm ">
                            <label>{{"REC.TEL"|translate}}<label style="color:red;">*</label></label>
                            <!--input  formControlName="ecivlUser" type="text" class="form-control"  placeholder=""-->
                            <input type="text" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="sites[0].tel" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>

                    <div class="row text-center mt-4">
                        <div class="form-group row">
                            <div class="col-sm">
                                <button class="btn btn-success" (click)="addSite()"><fa-icon [icon]="['fas','plus']"></fa-icon> Agregar</button>
                                <button type="submit" class="btn btn-primary">{{"REC.ENVIAR"|translate}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm mt-3">
                <div class="container p-4">
                    <app-map-organizacion></app-map-organizacion>
                    <div class="row mt-3">
                        <h5>{{"REC.INFORMACION"|translate}}</h5>
                        
                        {{listSites | json}}

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Range</th>
                                    <th>Phone</th>
                                    <th>Tel</th>
                                    <th>Ubication</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let site of sites">
                                    <td>{{site.id}}</td>
                                    <td>{{site.range}}</td>
                                    <td>{{site.phone}}</td>
                                    <td>{{site.tel}}</td>
                                    <td>{{site.ubication}}</td>
                                    <td>
                                        <button class="btn btn-info"><fa-icon [icon]="['fas','square-pen']"></fa-icon></button>
                                        <button class="btn btn-danger"><fa-icon [icon]="['fas','trash']"></fa-icon></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>
                    