<div class="color p-5" style="margin-top: 4rem;">
    <div class="container shadow rounded" style="background-color: #f5f3f7;">
        <div class="row">
            <div class="col-sm p-3  mb-5 rounded ">
                <!--form [formGroup]="form" (submit) ="sendLogin()" class="form"-->
                <form (ngSubmit)="send()">
                    <div class="ms-4 me-4">
                        <h1>{{"REC.REGISTRO" | translate}}</h1>
                        <label>{{"REC.RAPIDO"|translate}}</label>
                        <hr>
                        <p class="mt-2" style="color:red;">{{"REC.CAMPOS" | translate}}</p>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm ms-4 me-4">
                            <label>{{"SITES.COUNTRY" | translate}}<label
                                    style="color:red;">*</label></label>
                            <!--input formControlName="nomOrg" type="text" class="form-control"  placeholder=""-->
                            <input type="text" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="site.countryCode" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm ms-4 me-4">
                            <label>{{"SITES.RANGE" | translate}}<label
                                    style="color:red;">*</label></label>
                            <!--input formControlName="nomOrg" type="text" class="form-control"  placeholder=""-->
                            <input type="text" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="site.range" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm mt-3 ms-4 me-4">
                            <label>NIT<label style="color:red;">*</label></label>
                            <!--input formControlName="nitOrg" type="text" class="form-control" placeholder=""-->
                            <input type="text" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="site.nit" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>
                    <!--<div class="form-group row">
                        <div class="col-sm mt-3 ms-4 me-4">
                            <label>Correo</label>
                            input formControlName="nitOrg" type="text" class="form-control" placeholder=""
                            <input type="email" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="organization.nit" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>-->

                    <div class="form-group row">

                        <div class="col-sm mt-3 ms-4 me-4">
                            <label>{{"SITES.UBICATION" | translate}}<label style="color:red;">*</label></label>
                            <!--input formControlName="telOrg" type="text" class="form-control" placeholder=""-->
                            <input type="text" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="site.ubication" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-sm mt-3 ms-4 me-4">
                            <label>ID<label style="color:red;">*</label></label>
                            <!--input formControlName="telOrg" type="text" class="form-control" placeholder=""-->
                            <input type="text" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="site.id" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>


                    <div class="form-group row mt-3 ms-3 me-3">

                        <div class="col-sm ">
                            <label>{{"SITES.PHONE" | translate}}<label style="color:red;">*</label></label>
                            <!--input formControlName="telOrg" type="text" class="form-control" placeholder=""-->
                            <input type="text" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="site.phone" [ngModelOptions]="{standalone: true}"
                                placeholder="">
                        </div>
                        <div class="col-sm ">
                            <label>{{"REC.TEL"|translate}}<label style="color:red;">*</label></label>
                            <!--input  formControlName="ecivlUser" type="text" class="form-control"  placeholder=""-->
                            <input type="text" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="site.tel" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>

                    <div class="row text-center mt-4">
                        <div class="form-group row">
                            <div class="col-sm">
                                <button type="submit" class="btn btn-primary">{{"REC.ENVIAR"|translate}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm mt-3">
                <div class="container p-4">
                    <app-map-organizacion></app-map-organizacion>
                    