<div class="color p-2 " style="margin-top: 4rem;">
    <div class="container shadow rounded mt-5" style="background-color: #f5f3f7;">
        <div class="row">
            <div class="col-sm p-3  mb-5 rounded ">
                <form [formGroup]="siteForm">
                    <div class="ms-4 me-4">
                        <h1>{{"REC.REGISTRO" | translate}}</h1>
                        <label>{{"REC.RAPIDO"|translate}}</label>
                        <hr>
                        <p class="mt-2" style="color:red;">{{"REC.CAMPOS" | translate}}</p>
                    </div>

                    <div class="form-group row mt-3 ms-3 me-3">
                        <div class="col-sm ">
                            <label>ID<label style="color:red;">*</label></label>
                            <input type="text" class="form-control rounded"
                                [ngClass]="{'is-invalid':siteForm.get('id')?.touched && !siteForm.get('id')?.valid}"
                                formControlName="id" (change)="onChangeForm()">
                                <div class="invalid-feedback">
                                    {{"REC.IDVAL"|translate}}
                                </div>
                        </div>

                    </div>

                    <div class="form-group row mt-3 ms-3 me-3">
                        <div class="col-sm ">
                            <label>NIT<span style="color:red;">*</span></label>
                            <input type="text" class="form-control rounded"

                                [ngClass]="{'is-invalid':siteForm.get('nit')?.touched && !siteForm.get('nit')?.valid}"
                                formControlName="nit" (change)="onChangeForm()" readonly>
                                <div class="invalid-feedback">
                                    {{"REC.NITVAL"|translate}}
                                </div>
                        </div>
                    </div>

                    <div class="form-group row mt-3 ms-3 me-3">
                        <div class="col-sm ">
                            <label>{{"SITES.UBICATION" | translate}}<label style="color:red;">*</label></label>
                            <input type="text" class="form-control rounded"
                                [ngClass]="{'is-invalid':siteForm.get('ubication')?.touched && !siteForm.get('ubication')?.valid}"
                                formControlName="ubication" (change)="onChangeForm()" readonly>
                                <div class="invalid-feedback">
                                    {{"REC.UBICACIONVAL"|translate}}
                                </div>
                        </div>
                    </div>

                    <div class="form-group row mt-3 ms-3 me-3">
                        <div class="col-sm">
                            <label>{{"SITES.RANGE" | translate}}<label style="color:red;">*</label></label>
                            <input type="text" class="form-control rounded"
                                [ngClass]="{'is-invalid':siteForm.get('range')?.touched && !siteForm.get('range')?.valid}"
                                formControlName="range" (change)="onChangeForm()">
                                <div class="invalid-feedback">
                                    {{"REC.RANGOVAL"|translate}}
                                </div>
                        </div>
                    </div>

                    <div class="form-group row mt-3 ms-3 me-3">
                        <div class="col-sm">
                            <label>{{"SITES.COUNTRY" | translate}}<label style="color:red;">*</label></label>
                            <input type="text" class="form-control rounded"
                                [ngClass]="{'is-invalid':siteForm.get('countryCode')?.touched && !siteForm.get('countryCode')?.valid}"
                                formControlName="countryCode" (change)="onChangeForm()">
                                <div class="invalid-feedback">
                                    {{"REC.CODVAL"|translate}}
                                </div>
                        </div>
                    </div>

                    <div class="form-group row mt-3 ms-3 me-3">
                        <div class="col-sm ">
                            <label>{{"SITES.PHONE" | translate}}<label style="color:red;">*</label></label>
                            <input type="text" class="form-control rounded"
                                [ngClass]="{'is-invalid':siteForm.get('phone')?.touched && !siteForm.get('phone')?.valid}"
                                formControlName="phone" (change)="onChangeForm()">
                                <div class="invalid-feedback">
                                    {{"REC.CELVAL"|translate}}
                                </div>
                        </div>

                        <div class="col-sm ">
                            <label>{{"REC.TEL"|translate}}<label style="color:red;">*</label></label>
                            <input type="text" class="form-control rounded"
                                [ngClass]="{'is-invalid':siteForm.get('tel')?.touched && !siteForm.get('tel')?.valid}" formControlName="tel"
                                (change)="onChangeForm()">
                                <div class="invalid-feedback">
                                    {{"REC.TELVAL"|translate}}
                                </div>
                        </div>
                    </div>

                    <div class="row text-center mt-4">
                        <div class="form-group row">
                            <div class="col-sm">
                                <button class="btn btn-success me-3 " (click)="addSite()">
                                    <fa-icon [icon]="['fas','add']"></fa-icon> Agregar
                                </button>
                                <button type="submit" (click)="send()"
                                    class="btn btn-primary">{{"REC.ENVIAR"|translate}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm mt-3">
                <div class="container p-4">
                    <app-map (latLngEvent)="onChangeSite($event)" [latLng]="sites[selected].ubication ?? ''"
                        [range]="sites[selected].range ?? 0"></app-map>
                    <div class="row mt-3">
                        <h5>{{"REC.INFORMACION"|translate}}</h5>

                        <div class="table-responsive">
                            <table class="table align-middle table-primary table-striped">
                                <thead>
                                    <tr class="align-middle">
                                        <th scope="col" style="width: 5%;">#</th>
                                        <th scope="col" style="width: 10%;">id</th>
                                        <th scope="col" style="width: 2%;">Range</th>
                                        <th scope="col" style="width: 15%;">Phone</th>
                                        <th scope="col" style="width: 15%;">Tel</th>
                                        <th scope="col" style="width: 10%;">Ubication</th>
                                        <th scope="col" style="width: 30%;">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let site of sites; index as i" class="align-middle">
                                        <td scope="row">{{i}}</td>
                                        <td>{{site.id}}</td>
                                        <td>{{site.range}}</td>
                                        <td>{{site.phone}}</td>
                                        <td>{{site.tel}}</td>
                                        <td class="text-truncate" style="max-width: 150px;">
                                            <button type="button" class="btn tablaColor " (click)="showUbication(i)">
                                                {{geoInv[i]}}
                                            </button>
                                        </td>
                                        <td class="container-fluid">
                                            <button class="btn btn-info text-center me-1" (click)="onSelectEdit(i)">
                                                <fa-icon [icon]="['fas','square-pen']"></fa-icon>
                                            </button>
                                            <button class="btn btn-danger text-center" (click)="onSelectDelete(i)">
                                                <fa-icon [icon]="['fas','trash']"></fa-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>