.color{
    background-color: #e0d5f1;
}
.form-control{
    background-color: #f1eef5;
}
.overflow-visible {
    white-space: initial;
  }
.tablaColor{
    
        cursor: pointer;
        border: transparent ;
        background-color: transparent;
       
       

}
