<div style="margin-top: 5rem; margin-bottom: 2rem;">
    <div class="container">
        <div class="row flex-nowrap">
            <div class="col p-4">
                <h1><b>{{"PANEL-ORG.BIENVENIDO"|translate}}</b></h1>
                <hr>
                <div class="mt-4 text-center">
                    <h5>{{"PANEL-ORG.NOTIFIYACTIVE"|translate}}</h5>
                </div>
                <div class="table-responsive">
                    <table class="table align-middle table-primary table-striped">
                        <thead>
                            <tr class="align-middle">
                                <th scope="col">#</th>
                                <th scope="col">{{"PANEL-ORG.USUARIOID"|translate}}</th>
                                <th scope="col">{{"PANEL-ORG.TITTLE"|translate}}</th>
                                <th scope="col" style="width: 40%;">{{"PANEL-ORG.DESCRIPTION"|translate}}</th>
                                <th scope="col">{{"PANEL-ORG.ORGANIZATION"|translate}}</th>
                                <th scope="col" style="width: 10%;">{{"PANEL-ORG.ACTIONS"|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let notify of activeNotifies; index as i" class="align-middle">
                                <th scope="row">i</th>
                                <td>{{notify.userId}}</td>
                                <td>{{notify.title}}</td>
                                <td>{{notify.description}}</td>
                                <td>{{notify.organizationTypeId}}</td>
                                <td>
                                    <button class="btn btn-success ms-1 me-1" (click)="toInProgressNotify(notify)">
                                        <fa-icon [icon]="['fas', 'check']"></fa-icon>
                                    </button>
                                    <button class="btn btn-danger ms-1" (click)="deleteNotify(notify)">
                                        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="mt-4 text-center">
                    <h5>{{"PANEL-ORG.NOTIFYINPROGRESS"|translate}}</h5>
                </div>

                <div class="table-responsive mt-2">
                    <table class="table align-middle table-primary table-striped shadow">
                        <thead>
                            <tr class="align-middle">
                                <th scope="col">#</th>
                                <th scope="col">{{"PANEL-ORG.USUARIOID"|translate}}</th>
                                <th scope="col">{{"PANEL-ORG.TITTLE"|translate}}</th>
                                <th scope="col" style="width: 40%;">{{"PANEL-ORG.DESCRIPTION"|translate}}</th>
                                <th scope="col">{{"PANEL-ORG.ORGANIZATION"|translate}}</th>
                                <th scope="col" style="width: 10%;">{{"PANEL-ORG.ACTIONS"|translate}}</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let notify of inProgressNotifies; index as i" class="align-middle">
                                <th scope="row">i</th>
                                <td>{{notify.userId}}</td>
                                <td>{{notify.title}}</td>
                                <td>{{notify.description}}</td>
                                <td>{{notify.organizationTypeId}}</td>
                                <td>
                                    <button class="btn btn-success ms-1 me-1" (click)="toFinishNotify(notify)">
                                        <fa-icon [icon]="['fas', 'check']"></fa-icon>
                                    </button>
                                    <button class="btn btn-danger ms-1" (click)="deleteNotify(notify)">
                                        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

           
        </div>
    </div>
</div>