<div style="margin-top: 5rem;">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark text-white ">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline mt-3">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start text-white"
                        id="menu">
                        <li class="nav-item ms-3">
                            <a routerLink="/pOrg" class="nav-link align-middle px-0">
                                <fa-icon style="color: white" [icon]="['fas', 'house']"></fa-icon><span
                                    class="ms-1 d-none d-sm-inline text-white">Home</span>
                            </a>
                        </li>
                        <li class="nav-item ms-3">
                            <a routerLink="/edOrg" class="nav-link px-0 align-middle">
                                <fa-icon style="color: white" [icon]="['fas', 'briefcase']"></fa-icon> <span
                                    class="ms-1 d-none d-sm-inline text-white">Perfil</span>
                            </a>
                        </li>
                        <li class="nav-item ms-3">
                            <a routerLink="/statis" class="nav-link px-0 align-middle">
                                <fa-icon style="color: white" [icon]="['fas', 'chart-line']"></fa-icon> <span
                                    class="ms-1 d-none d-sm-inline text-white">Estadisticas</span>
                            </a>
                        </li>
                        <app-reportes></app-reportes>
                    </ul>
                </div>
            </div>
            <div class="col p-4">
                <h1><b>{{"PANEL-ORG.BIENVENIDO"|translate}}</b></h1>
                <hr>
                <div class="mt-4">
                    <table class="table table-primary table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-4">
                    <table class="table table-primary table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
