<!--<h1>{{title}}</h1>
<p><b>Form:{{isCheck | json}}</b></p>
<p><b>Form:{{form.invalid | json}}</b></p>-->
<br>
<br>
<br>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <!--form [formGroup]="form" (submit) ="sendLogin()" class="form"-->  
                <form (ngSubmit)="send()">  
                    <h1>Registro</h1>
                    <br>
                    <div class="form-group row">
                        <label>Nombre de la organizacion</label>
                        <br>
                        <div class="col-sm-10">
                            <!--input formControlName="nomOrg" type="text" class="form-control"  placeholder=""-->
                            <input type="text" class="form-control" id="inlineFormInputGroup" [(ngModel)]="organization.name" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label>NIT</label>
                        <div class="col-sm-10">
                            <!--input formControlName="nitOrg" type="text" class="form-control" placeholder=""-->
                            <input type="text" class="form-control" id="inlineFormInputGroup" [(ngModel)]="organization.nit" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label>Telefono</label>
                        <div class="col-sm-10">
                            <!--input formControlName="telOrg" type="text" class="form-control" placeholder=""-->
                            <input type="text" class="form-control" id="inlineFormInputGroup" [(ngModel)]="organization.tel" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-3">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary ms-4">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-6">
                <app-map-organizacion></app-map-organizacion>
                <!--<div class="imagenMpa">
                    <img src="../../assets/images/maps.jpg" class="figure-img img-fluid rounded " alt="...">
                </div>-->
                <br>
                <h5>{{organization.name}}</h5>
                <br>
                <div class="row">
                    <div class="col-2">
                        <div class="imagenUbi">
                            <br>
                            <img src="../../assets/images/ubi.png" class="figure-img img-fluid rounded " alt="...">
                        </div>
                    </div>
                    <div class="col-10">
                        <p style="font-size: 13px"></p>
                    </div>
                    <div class="col-2">
                        <div class="imagenUbi">
                            <br>
                            <img src="../../assets/images/email.png" class="figure-img img-fluid rounded " alt="...">
                        </div>
                    </div>
                    <div class="col-10">
                        <br>
                        <p style="font-size: 13px"></p>
                    </div>
                    <div class="col-2">
                        <div class="imagenUbi">
                            <br>
                            <img src="../../assets/images/tel.png" class="figure-img img-fluid rounded " alt="...">
                        </div>
                    </div>
                    <div class="col-10">
                        <br>
                        <p style="font-size: 13px">{{organization.tel}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
</div>
<br>
<br>
<br>
