<div class="color p-5" style="margin-top: 4rem;">
    <div class="container shadow rounded" style="background-color: #f5f3f7;">
        <div class="row">
            <div class="col-sm p-3  mb-5 rounded ">
                <!--form [formGroup]="form" (submit) ="sendLogin()" class="form"-->
                <form (ngSubmit)="send()">
                    <div class="ms-4 me-4">
                        <h1>{{"REC.REGISTRO" | translate}}</h1>
                        <label>{{"REC.RAPIDO"|translate}}</label>
                        <hr>
                        <p class="mt-2" style="color:red;">{{"REC.CAMPOS" | translate}}</p>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm mt-3 ms-4 me-4">
                            <label>NIT<label style="color:red;">*</label></label>
                            <!--input formControlName="nitOrg" type="text" class="form-control" placeholder=""-->
                            <input type="text" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="organization.nit" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm ms-4 me-4">
                            <label>{{"REC.NOMBRE DE LA ORGANIZACIÓN" | translate}}<label
                                    style="color:red;">*</label></label>
                            <!--input formControlName="nomOrg" type="text" class="form-control"  placeholder=""-->
                            <input type="text" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="organization.name" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>
                    <!--<div class="form-group row">
                        <div class="col-sm mt-3 ms-4 me-4">
                            <label>Correo</label>
                            input formControlName="nitOrg" type="text" class="form-control" placeholder=""
                            <input type="email" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="organization.nit" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>-->

                    <div class="form-group row">

                        <div class="col-sm mt-3 ms-4 me-4">
                            <label>{{"REC.TEL" | translate}}<label style="color:red;">*</label></label>
                            <!--input formControlName="telOrg" type="text" class="form-control" placeholder=""-->
                            <input type="text" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="organization.tel" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>

                    <div class="form-group row mt-3 ms-3 me-3">

                        <div class="col-sm ">
                            <label>{{"REC.CONTRASEÑA" | translate}}<label style="color:red;">*</label></label>
                            <!--input formControlName="telOrg" type="text" class="form-control" placeholder=""-->
                            <input type="password" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="organization.password" [ngModelOptions]="{standalone: true}"
                                placeholder="">
                        </div>
                        <div class="col-sm ">
                            <label>{{"REC.CONFIRMAR"|translate}}<label style="color:red;">*</label></label>
                            <!--input  formControlName="ecivlUser" type="text" class="form-control"  placeholder=""-->
                            <input type="password" class="form-control rounded" id="inlineFormInputGroup"
                                [(ngModel)]="contra.pass" [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                    </div>

                    <div class="row text-center mt-4">
                        <div class="form-group row">
                            <div class="col-sm">
                                <button type="submit" (click)="send()" class="btn btn-primary">{{"REC.SIGUIENTE"|translate}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-sm mt-3">
                <div class="container p-4">
                    <div class="card text-left">
                      <div class="card-body">
                        <h4 class="card-title">{{organization.nit==''?'NIT':organization.nit}} - {{organization.name==''?'Organization Name':organization.name}}</h4>
                        <p class="card-text"><fa-icon [icon]="['fas','phone']"></fa-icon> {{organization.tel==''?'Tel':organization.tel}}</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

