.imagenUbi{
    width: 20px;
    height: 20px;
    /*position: relative;*/
    background-position: bottom;
    display:block;
    margin:auto;
}
.imagenMpa{
    position: relative;
    display:block;
    margin:auto;
}
.color{
    background-color: #e0d5f1;
}
.form-control{
    background-color: #f1eef5;
}
