<section class="hero" >
    <div class="container">
        <h1><b>Preguntas Frecuentes</b></h1>
        
    </div>
</section>

<section>
    <svg style="position: absolute; bottom: 4rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" >
        <path fill="#ffff" fill-opacity="1" d="M0,160L34.3,181.3C68.6,203,137,245,206,245.3C274.3,245,343,203,411,202.7C480,203,549,245,617,261.3C685.7,277,754,267,823,256C891.4,245,960,235,1029,218.7C1097.1,203,1166,181,1234,192C1302.9,203,1371,245,1406,266.7L1440,288L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path>
      </svg>
    <div class="container">
        <h1><b>¿Qué es?</b></h1>
                <br>
                <p>Violencia es todo acto, acción u omisión que produzca daño o sufrimiento físico, sexual, psicológico,
                    verbal, o económico a una persona; puede ocurrir en público o en privado. Las situaciones violentas
                    ocurren cada vez que una persona impone su poder sobre otra vulnerando sus derechos. </p>
                <p>Estas agresiones son ejercidas contra cualquier persona o grupo de personas sobre la base de su sexo
                    o género. Las violencias impactan de manera negativa en su identidad y bienestar social, físico,
                    psicológico o económico. Es importante tener en cuenta que las diferentes formas de violencia pueden
                    iniciar con manifestaciones muy sutiles que van aumentando con la posibilidad de producir daños
                    físicos o emocionales irreparables, e incluso, la muerte.</p>
    </div>
</section>
<section>
    <div class="container">
        <h1><b>Tipos de violencias</b></h1>
        <br>
        <h5><b>Tipos de violencia</b></h5>
        <p>La violencia puede estar presente en cualquier ámbito; sea en el doméstico o en el público, el lugar de trabajo, la calle, el transporte público, el colegio, etc. Ante esto, todos tenemos la responsabilidad de romper el silencio y denunciar. Para ello es importante que aprendas a diferenciar los distintos tipos de violencia que existen para poder identificarlos.</p>
        <br>
        <p><b>·Física:</b> son todas las agresiones que atentan contra el cuerpo de una persona, ya sea a través de golpes, lanzamiento de objetos, encierro, sacudidas o estrujones, entre otras conductas que puedan ocasionar daños físicos.</p>
        <p><b>·Psicológica o emocional:</b> es toda acción u omisión destinada a degradar o controlar las acciones, comportamientos, creencias y decisiones de otras personas por medio de intimidación, manipulación, amenaza, humillación, aislamiento, o cualquier conducta que implique un perjuicio en la salud psicológica. Este tipo de violencia es de las más comunes y naturalizadas de la sociedad, por lo que es necesario aprender a reconocerla y denunciar. </p>
        <p><b>·Sexual:</b> en ella se incluyen todas las relaciones o actos sexuales, físicos o verbales, no deseados ni aceptados por la otra persona. La violencia sexual puede presentarse hacia hombres o mujeres utilizando la fuerza o la coacción física, psicológica o cualquier otro mecanismo que anule o limite la voluntad personal. </p>
        <p><b>·Económica:</b> ocurre cuando se utiliza el dinero como un factor para dominar o establecer relaciones de poder perjudiciales. Este tipo de violencia se puede manifestar cuando a la persona se le quita el dinero que gana, se le impide gastarlo en beneficio suyo o de su familia, o se le niega el dinero para controlar su independencia. Todas estas formas de violencia son consideradas delito y son sancionadas por la ley.</p>
        <p><b>·De género:</b> son los actos violentos contra una persona en razón de su sexo o preferencia sexual. En muchos casos, son actos que se ejercen contra las mujeres y están relacionados con el control que algunos hombres creen tener sobre ellas, generalmente, aprovechándose de condiciones de indefensión, desigualdad y poder. También puede ocurrir contra hombres que se salen del rol masculino culturalmente aceptado, por ejemplo en casos de violencia homofóbica o por conductas consideradas "femeninas", como llorar o expresar sus sentimientos.</p>
    </div>
</section>
<section>
    <div class="container">
        <h1><b>¿Dónde denunciar?</b></h1>
        <br>
        <p>Si eres víctima de cualquier tipo de violencia basada en género debes solicitarle a tu EPS atención integral e inmediata,  de manera gratuita. Cualquier negativa a cumplir con esta obligación, que está inmersa en el plan de beneficios en salud, es una falta al ejercicio del derecho a la salud.</p>
        <br>
        <b>¿A quién acudir? </b>
        <br>
        <br>
        <p><b>·Fiscalías:</b> la violencia sexual es un delito. Por eso, debes denunciarlo.  Puedes hacerlo de forma verbal o escrita, en primera instancia en los Centros de Atención Integral a Víctimas de Delitos Sexuales de la Fiscalía, que atienden de lunes a viernes de 8 a 12 del día y de 1 a 5 de la tarde, o en las Unidades de Reacción Inmediata (URI) de la Fiscalía, que prestan su servicio en todo el país las 24 horas del día.</p>
        <p><b>·Estaciones de Policía:</b> la denuncia también puede hacerse en las estaciones de Policía o en las Unidades de Policía Judicial como la Dijin, Sijin o el CTI. Estas remiten el caso a la Fiscalía y remiten a la víctima a Medicina Legal.</p>
        <p><b>·Medicina Legal:</b> para establecer la gravedad de las lesiones y el estado en que se encuentra la víctima después de la agresión, la autoridad que recibe la denuncia remite a la víctima al Instituto de Medicina Legal y Ciencias Forenses.</p>
        <p><b>·Comisarías de Familia:</b> reciben denuncias en casos de violencia intrafamiliar para remitirlas a la Fiscalía. Estas pueden ordenar medidas de protección tales como expulsar al agresor de la casa; retirar ropa, documentos y elementos indispensables para la víctima; en el caso de tener hijos, resolver provisionalmente el tema de la custodia y cuota de alimentos de los menores y obtener protección de la Policía. Estas medidas se cumplen siempre y cuando la denuncia se interponga dentro de los 30 días siguientes a la ocurrencia de la agresión.</p>
        <p><b>·Instituto Colombiano de Bienestar Familiar (ICBF):</b> en todas las ciudades hay Centros Zonales de Bienestar Familiar. Sin embargo, solo atienden casos en que se encuentren involucradas personas menores de 18 años. Si la agresión se trata de abuso sexual, está facultado para recibir la denuncia y trasladarla a la Fiscalía. Además, debe velar por la protección, restablecimiento y garantía de los derechos de los menores involucrados (víctimas y agresores) y a la víctima debe ofrecerle apoyo integral, incluyendo un albergue seguro.</p>
        <p><b>·Defensoría del Pueblo y Personería Municipal:</b> les corresponde velar por la promoción, el ejercicio y la divulgación de los derechos humanos, tanto de víctimas como de agresores en casos de violencia. Prestan asesoría y ayuda gratuita a las personas que requieran apoyo para la defensa de sus derechos humanos, prevenir vulneraciones de sus derechos o restablecimiento de los mismos, por ejemplo, para la formulación de derechos de petición o acciones de tutela.</p>
    </div>
</section>
<section>
    <div class="container ">
        <h1><b>Preguntas Frecuentes</b></h1>
        <br>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  <b>¿Cómo afrontar la violencia intrafamiliar?</b>
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Lo más importante es reconocer y aceptar que hay una situación de violencia y maltrato, para poder buscar ayuda de profesionales e instituciones especializadas. Si la persona lo desea puede denunciar la violencia en las Comisarías de Familia de cada localidad, en las estaciones de Policía o en los Juzgados Promiscuos Municipales o de Circuito. Es importante tener en cuenta que en estos casos, si los involucrados son niños, es obligación de cualquier persona de la comunidad denunciar.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  <b>¿Qué es la violencia basada en género?</b>
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">La violencia basada en género incluye cualquier acto de maltrato físico, sexual, psicológico y/o económico contra una persona con motivo de su sexo, incluyendo actos de privación de la libertad, tanto en el ámbito público como privado. Hombres y mujeres son víctimas de violencia basada en género debido a los roles y características que se les atribuyen en las diferentes sociedades.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  <b>¿Qué problemas sexuales puede presentar una mujer abusada sexualmente?</b>
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>El abuso sexual puede originar problemas de diversa índole en la vivencia sexual de la víctima, dependiendo de la edad en la que ocurre el abuso, las características del abusador (si es un familiar o un extraño), del apoyo que reciba la persona abusada, etc</p>
                    <p>Se ha comprobado en aquellos casos en que la víctima de abuso sexual recibe una ayuda profesional adecuada, ésta tiende a presentar menores problemas sexuales que aquella persona que se calla o no recibe una intervención pronta y efectiva.</p>
                    <p>Entre los problemas sexuales más frecuentes en las mujeres abusadas sexualmente encontramos: ausencia o bajo deseo sexual, anorgasmia (dificultad para tener orgasmos), trastorno de la excitación y dispareunia (dolor durante la relación sexual).</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</section>
<br>
<hr>
<footer class="text-center text-lg-start bg-dark text-white">

    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

        <div class="me-5 d-none d-lg-block">

        </div>

        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>

    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Vigen
                    </h6>
                    <p>
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Angular</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">React</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Vue</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Laravel</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Pricing</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Orders</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> Colombia</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        Vigen@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 57 315 698 569</p>
                    <p><i class="fas fa-print me-3"></i> + 57 321 456 985</p>
                </div>

            </div>

        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="">Vigen.com</a>
    </div>

</footer>
