<section class="hero">
    <div class="container">
        <h1><b>{{"FAQ.PREGUNTAS"| translate}}</b></h1>

    </div>
</section>

<section>
    <div class="container mt-5">
        <h1><b>{{"FAQ.QUEES"| translate}}</b></h1>
        <br>
        <p>{{"FAQ.VIOLENCIAES"| translate}} </p>
        <p>{{"FAQ.AGRESIONES"|translate}} </p>
    </div>
</section>
<section>
    <div class="container">
        <h1><b>{{"FAQ.TIPOS"| translate}}</b></h1>
        <br>
        <h5><b>{{"FAQ.TIPOS"| translate}}</b></h5>
        <p>{{"FAQ.VIOLENCIAPUEDE"| translate}}</p>
        <br>
        <p><b>{{"FAQ.FISICA"| translate}}</b>{{"FAQ.TODASAGRESIONES"| translate}}</p>
        <p><b>{{"FAQ.PSICOLOGIA"| translate}}</b> {{"FAQ.ACCION"| translate}} </p>
        <p><b>{{"FAQ.SEXUAL"| translate}}</b>{{"FAQ.RELACIONES"| translate}}
        </p>
        <p><b>{{"FAQ.ECONOMIA"| translate}}</b>{{"FAQ.DINERO"| translate}}</p>
        <p><b>{{"FAQ.DEGENERO"|translate}}</b>{{"FAQ.ACTOS"|translate}}</p>
    </div>
</section>
<section>
    <div class="container">
        <h1><b>{{"FAQ.DENUNCIAR"| translate}}</b></h1>
        <br>
        <p>{{"FAQ.VICTIMA"| translate}}</p>
        <br>
        <b>{{"FAQ.ACUDIR"| translate}}</b>
        <br>
        <br>
        <p><b>{{"FAQ.FISCALIAS"| translate}}</b>{{"FAQ.DELITO"| translate}}</p>
        <p><b>{{"FAQ.ESTACIONES"| translate}}</b>{{"FAQ.DENUNCIA"| translate}}</p>
        <p><b>{{"FAQ.MEDICINA"| translate}}</b>{{"FAQ.ESTABLECER"| translate}}</p>
        <p><b>{{"FAQ.COMISARIAS"| translate}}</b>{{"FAQ.DENUNCIAS"| translate}}</p>
        <p><b>{{"FAQ.BIENESTAR"| translate}}</b>{{"FAQ.PERSONASMENORES"| translate}}</p>
        <p><b>{{"FAQ.DEFENSORIA"| translate}}</b>{{"FAQ.DERECHOS"| translate}}</p>
    </div>
</section>
<section>
    <div class="container ">
        <h1><b>{{"FAQ.PREGUNTAS"| translate}}</b></h1>
        <br>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <b>{{"FAQ.AFRONTAR"| translate}}</b>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">{{"FAQ.RECONOCER"| translate}}</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <b>{{"FAQ.VIOLENCIABASADA"| translate}}</b>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">{{"FAQ.VIOLENCIABASADAGENERO"| translate}}</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <b>{{"FAQ.PROBLEMAS"| translate}}</b>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p>{{"FAQ.ABUSO"| translate}}</p>
                        <p>{{"FAQ.COMPROBADO"| translate}}</p>
                        <p>{{"FAQ.PROBLEMASFRECUENTES"| translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>



