<header>
  <nav>
    <app-nav></app-nav>

 </nav>
  

</header>
<section> 
  <div>
    <router-outlet></router-outlet>
    <div class="container">
      <select class="form-select" #langSelect (change)="changeLang(langSelect.value)">
        <option selected value="es">Español</option>
        <option value="en">English</option>
      </select>
    </div>
  </div>
  
  <!--<app-login></app-login>
  <app-home></app-home>
  <app-statistics-dashboard></app-statistics-dashboard>
  <app-side></app-side>
  <app-panel-user></app-panel-user>
  <app-edit-user></app-edit-user>
  <app-record-org></app-record-org>
  <app-record-user></app-record-user>
  <app-map></app-map>
  <app-token></app-token>
</section>
