<div class="dropdown">
  <a class="nav-link px-0 align-middle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <fa-icon style="color: white" [icon]="['far', 'file-lines']"></fa-icon>
    <span
            class="ms-1 d-none d-sm-inline text-white">{{"REPORTES.REPORTES" | translate}}</span>
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item" (click)="ejecutar()">{{"REPORTES.REPORTEPRUEBA" | translate}}</a></li>
    <li><a class="dropdown-item" (click)="ejecutarU()">{{"REPORTES.REPORTEUSUARIO" | translate}}</a></li>
    <li><a class="dropdown-item" (click)="ejecutarO()">{{"REPORTES.REPORTEORG" | translate}}</a></li>
  </ul>
</div>