<!--<div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Reportes
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" (click)="ejecutar()">Reporte Prueba</a></li>
      <li><a class="dropdown-item" (click)="ejecutarU()">Reporte Usuario</a></li>
      <li><a class="dropdown-item" (click)="ejecutarO()">Reporte Organización</a></li>
    </ul>
  </div>-->
  <li class="nav-item dropdown text-white">
    <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Reportes
    </a>
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" (click)="ejecutar()">Reporte Prueba</a></li>
      <li><a class="dropdown-item" (click)="ejecutarU()">Reporte Usuario</a></li>
      <li><a class="dropdown-item" (click)="ejecutarO()">Reporte Organización</a></li>
    </ul>
  </li>