.hero{
    height: 100%;
    background-image: url("https://img2.rtve.es/i/?w=1600&i=1552038740881.jpg");
    background-size: cover;
    object-fit: cover;
    object-position: bottom;
}
.color{
    background: rgb(132,74,221);
background: linear-gradient(180deg, rgba(132,74,221,1) 0%, rgba(183,113,231,1) 48%, rgba(207,165,224,1) 100%);
}
