<div class="p-2 mt-5" style="background-color: #e0d5f1 ;">
    <div class="container shadow bg-white mt-5">
        <div class="row align-items-center">
            <div class="container">
                <div class="text-center text-capitalize mt-2 p-3">
                    <b>
                        <h1>{{"AYUDA.TITULO" | translate}}</h1>
                    </b>
                </div>
                <div class="p-3">
                    <p>
                        {{"AYUDA.TITULOCONT" | translate}}
                    </p>
                </div>
            </div>
           <div class="row align-items-center clearfix p-3">
            <div class="col-sm order-md-1 p-4 ">
                <b>
                    <h2>{{"AYUDA.SUB1" | translate}}</h2>
                </b>
                <p>
                    {{"AYUDA.CONTSUB1" | translate}}
                </p>
            </div>
            <div class="col-sm order-md-2 text-center">
                <img src="https://www.unwomen.org/sites/default/files/Headquarters/Images/Sections/News/Stories/2020/11/16Days-Action-BelieveSurvivors.gif?"
                    style="width: 80%;" alt="...">
            </div>
           </div>
            
            <div class="row align-items-center clearfix mt-4 p-3">
                <hr>
                
                <div class="col-sm order-sm-2 order-md-2 ">
                   
                    <b>
                        <h2>{{"AYUDA.SUB2" | translate}}</h2>
                    </b>
                    <p>
                        {{"AYUDA.CONTSUB2" | translate}}
                    </p>
                  
                </div>
                <div class="col-sm order-sm-1 order-md-1 text-center ">
                    <img src="https://cronicaglobal.elespanol.com/uploads/s1/41/84/07/6/hombre.jpeg" style="width: 90%;"
                    alt="...">   
            </div>

            </div>
            
            <div class="row align-items-center clearfix mt-4 p-3">
                <hr>
                <div class="col-sm order-md-1 p-4 ">
                    <b>
                        <h2>{{"AYUDA.SUB3" | translate}}</h2>
                    </b>
                    <p>
                        {{"AYUDA.CONTSUB3" | translate}}
                    </p>
                </div>
                <div class="col-sm order-md-2 text-center">
                    <img src="https://static.vecteezy.com/system/resources/previews/008/300/203/non_2x/human-manipulation-concept-hands-and-a-man-on-strings-the-concept-of-psychological-violence-in-the-family-and-at-work-poster-vector.jpg"
                        style="width: 90%;" alt="...">
                </div>
            </div>
            
            <div class="row align-items-center clearfix mt-4 p-3">
                <hr>
                
                <div class="col-sm order-sm-2 order-md-2 ">
                    <b>
                        <h2>{{"AYUDA.SUB4" | translate}}</h2>
                    </b>
                    <p>
                        {{"AYUDA.CONTSUB4" | translate}}
                    </p>
                </div>
                <div class="col-sm order-sm-1 order-md-1 text-center ">
                    <img src="https://www.unwomen.org/sites/default/files/Headquarters/Images/Sections/News/Stories/2020/11/16Days-Action-Conversation.gif"
                        style="width: 80%;" alt="...">
                </div>
            </div>
            <hr>
            <div class="row align-items-center clearfix mt-4">
                <div class="col-sm order-md-1 p-4 ">
                    <b>
                        <h2>{{"AYUDA.SUB5" | translate}}</h2>
                    </b>
                    <p>
                        {{"AYUDA.CONTSUB5" | translate}}
                    </p>
                </div>
                <div class="col-sm order-md-2 text-center">
                    <img src="https://www.unwomen.org/sites/default/files/Headquarters/Images/Sections/News/Stories/2020/11/16Days-Action-Accountability.gif"
                        style="width: 85%;" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>