<div class="color">
  <h1>{{"POLL.STATISTICS"|translate}}Estadisticas</h1>
  <div class="container mt-3">
    <div class="row ">
      <div class="">
        <h3>{{"POLL.GENERO"|translate}}</h3>
        <ngx-charts-pie-chart
          [view]="[600, 300]"
          [results]="single['genero']"
          [gradient]="true"
          [animations]="false"
          [legend]="true"
          [labels]="true"
          [doughnut]="false">
        </ngx-charts-pie-chart>
      </div>
      <div class="">
        <h3>{{"POLL.ORIENTACIONSEXUAL"|translate}}</h3>
        <ngx-charts-pie-chart
          [view]="[600, 300]"
          [results]="single['orientacionSexual']"
          [gradient]="true"
          [animations]="false"
          [legend]="true"
          [labels]="true"
          [doughnut]="false">
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="row p-4 mt-4">
      <div class="">
        <h3>{{"POLL.EDAD"|translate}}</h3>
        <ngx-charts-pie-chart
          [view]="[600, 300]"
          [results]="single['edad']"
          [gradient]="true"
          [animations]="false"
          [legend]="true"
          [labels]="true"
          [doughnut]="false">
        </ngx-charts-pie-chart>
      </div>
      <div class="">
        <h3>{{"POLL.CIUDAD"|translate}}</h3>
        <ngx-charts-pie-chart
          [view]="[600, 300]"
          [results]="single['municipio']"
          [gradient]="true"
          [animations]="false"
          [legend]="true"
          [labels]="true"
          [doughnut]="false">
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="row p-4 mt-4">
      <div class="">
        <h3>{{"POLL.SECTOR"|translate}}</h3>
        <ngx-charts-pie-chart
          [view]="[600, 300]"
          [results]="single['sector']"
          [gradient]="true"
          [animations]="false"
          [legend]="true"
          [labels]="true"
          [doughnut]="false">
        </ngx-charts-pie-chart>
      </div>
      <div class="">
        <h3>{{"POLL.NIVEL"|translate}}</h3>
        <ngx-charts-pie-chart
          [view]="[600, 300]"
          [results]="single['nivelEducativo']"
          [gradient]="true"
          [animations]="false"
          [legend]="true"
          [labels]="true"
          [doughnut]="false">
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="row p-4 mt-4">
      <div class="">
        <h3>{{"POLL.ESTADOCIVIL"|translate}}</h3>
        <ngx-charts-pie-chart
          [view]="[600, 300]"
          [results]="single['estadoCivil']"
          [gradient]="true"
          [animations]="false"
          [legend]="true"
          [labels]="true"
          [doughnut]="false">
        </ngx-charts-pie-chart>
      </div>
      <div class="">
        <h3>{{"POLL.ETNICO"|translate}}</h3>
        <ngx-charts-pie-chart
          [view]="[600, 300]"
          [results]="single['etnia']"
          [gradient]="true"
          [animations]="false"
          [legend]="true"
          [labels]="true"
          [doughnut]="false">
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="row p-4 mt-4">
      <div class="">
        <h3>{{"POLL.CUENTAINGRESOS"|translate}}</h3>
        <ngx-charts-pie-chart
          [view]="[600, 300]"
          [results]="single['ingresos']"
          [gradient]="true"
          [animations]="false"
          [legend]="true"
          [labels]="true"
          [doughnut]="false">
        </ngx-charts-pie-chart>
      </div>
      <div class="">
        <h3>{{"POLL.OCUPACIONAL"|translate}}</h3>
        <ngx-charts-pie-chart
          [view]="[600, 300]"
          [results]="single['ocupacion']"
          [gradient]="true"
          [animations]="false"
          [legend]="true"
          [labels]="true"
          [doughnut]="false">
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="row p-4 mt-4">
      <h1>Sección de preguntas</h1>
      <hr>
      <div class="">
        <h3>{{"POLL.HAOBSERVADO"|translate}}</h3>
        <ngx-charts-pie-chart
          [view]="[600, 300]"
          [results]="single['p1']"
          [gradient]="true"
          [animations]="false"
          [legend]="true"
          [labels]="true"
          [doughnut]="false">
        </ngx-charts-pie-chart>
      </div>
      <div class="">
        <h3>{{"POLL.AMENAZADO"|translate}}</h3>
        <ngx-charts-pie-chart
          [view]="[600, 300]"
          [results]="single['p2']"
          [gradient]="true"
          [animations]="false"
          [legend]="true"
          [labels]="true"
          [doughnut]="false">
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="row p-4 mt-4">
      <div class="">
        <h3>{{"POLL.PRESIONADO"|translate}}</h3>
        <ngx-charts-pie-chart
          [view]="[600, 300]"
          [results]="single['p3']"
          [gradient]="true"
          [animations]="false"
          [legend]="true"
          [labels]="true"
          [doughnut]="false">
        </ngx-charts-pie-chart>
      </div>
      <div class="">
        <h3>{{"POLL.AGREDIDO"|translate}}</h3>
        <ngx-charts-pie-chart
          [view]="[600, 300]"
          [results]="single['p4']"
          [gradient]="true"
          [animations]="false"
          [legend]="true"
          [labels]="true"
          [doughnut]="false">
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="row p-4 mt-4">
      <div class="">
        <h3>{{"POLL.SACUDIDO"|translate}}</h3>
        <ngx-charts-pie-chart
          [view]="[600, 300]"
          [results]="single['p5']"
          [gradient]="true"
          [animations]="false"
          [legend]="true"
          [labels]="true"
          [doughnut]="false">
        </ngx-charts-pie-chart>
      </div>
      <div class="">
        <h3>{{"POLL.AGREDIDO"|translate}}</h3>
        <ngx-charts-pie-chart
          [view]="[600, 300]"
          [results]="single['p6']"
          [gradient]="true"
          [animations]="false"
          [legend]="true"
          [labels]="true"
          [doughnut]="false">
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="row p-4 mt-4">
      <div class="">
        <h3>{{"POLL.RESULTADO"|translate}}</h3>
        <ngx-charts-pie-chart
          [view]="[600, 300]"
          [results]="single['p7']"
          [gradient]="true"
          [animations]="false"
          [legend]="true"
          [labels]="true"
          [doughnut]="false">
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>
</div>
