<!--<p><b>Form:{{isCheck | json}}</b></p>
<p><b>Form:{{form.invalid | json}}</b></p>-->

<div class="color p-2" style="margin-top: 4rem;">
    <div class="container shadow rounded mt-5" style="background-color: #f5f3f7;">
        <div class="row">
            <div class="col-sm p-3  mb-5 rounded ">
                <!--form [formGroup]="form" (submit) ="sendLogin()" class="form"-->
                <form (ngSubmit)="send()" [formGroup]="formUser">
                    <div class="ms-4 me-4">
                        <h1><b>{{"REC.REGISTRO" | translate}}</b></h1>
                        <label>{{"REC.RAPIDO" | translate}}</label>
                        <hr>
                        <p class="mt-2" style="color:red;">{{"REC.CAMPOS" | translate}}</p>
                    </div>
                    <div class="form-group row mt-3 ms-3 me-3">
                        <label>{{"REC.ID" | translate}}<label style="color:red;">*</label></label>
                        <div class="col-sm">
                            <!--input formControlName="idUser" type="text" class="form-control"  placeholder=""-->
                            <input type="text" class="form-control rounded" 
                                [ngClass]="{'is-invalid':formUser.get('identification')?.touched && !formUser.get('identification')?.valid}"
                                formControlName="identification">
                            <div class="invalid-feedback">
                                {{"REC.IDENVAL"|translate}}
                            </div>   
                        </div>
                    </div>
                    <div class="form-group row mt-3 ms-3 me-3">
                        <div class="col-sm">
                            <label>{{"REC.NAME" | translate}}<label style="color:red;">*</label></label>
                            <!--input formControlName="nomUser" type="text" class="form-control" placeholder=""-->
                            <input type="text" class="form-control rounded"
                                [ngClass]="{'is-invalid':formUser.get('name')?.touched && !formUser.get('name')?.valid}"
                                formControlName="name">
                            <div class="invalid-feedback">
                                {{"REC.NAMEVAL"|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-3 ms-3 me-3">
                        <div class="col-sm">
                            <label>{{"REC.EMAIL" | translate}}<label style="color:red;">*</label></label>
                            <!--input formControlName="correoUser" type="email" class="form-control"  placeholder=""-->
                            <input type="email" class="form-control rounded" 
                                [ngClass]="{'is-invalid':formUser.get('email')?.touched && !formUser.get('email')?.valid}"
                                formControlName="email">
                            <div class="invalid-feedback">
                                {{"REC.CORVAL"|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-3 ms-3 me-3">
                        <label>{{"REC.GENDER" | translate}}<label style="color:red;">*</label></label>
                        <div class="col-sm">
                            <input type="text" class="form-control rounded" 
                                [ngClass]="{'is-invalid':formUser.get('gender')?.touched && !formUser.get('gender')?.valid}"
                                formControlName="gender">
                            <div class="invalid-feedback">
                                {{"REC.GENVAL"|translate}}
                            </div>
                        </div>
                    </div>


                  

                    <div class="form-group row mt-3 ms-3 me-3">
                        
                        <div class="col-sm-4">
                            <label>{{"REC.CCODE" | translate}}<label style="color:red;">*</label></label>
                            <input type="text" class="form-control rounded" 
                                [ngClass]="{'is-invalid':formUser.get('countryCode')?.touched && !formUser.get('countryCode')?.valid}"
                                formControlName="countryCode">
                            <div class="invalid-feedback">
                                {{"REC.CODVAL"|translate}}
                            </div>     

                        </div>
                        <div class="col-sm-8">
                            <label>{{"REC.TEL" | translate}}<label style="color:red;">*</label></label>
                            <!--input formControlName="telUser" type="text" class="form-control"  placeholder=""-->
                            <input type="text" class="form-control rounded" 
                                [ngClass]="{'is-invalid':formUser.get('phone')?.touched && !formUser.get('phone')?.valid}"
                                formControlName="phone">
                            <div class="invalid-feedback">
                                {{"REC.CELVAL"|translate}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mt-3 ms-3 me-3">
                        <div class="col-sm">
                            <label>{{"REC.FECHA" | translate}}<label style="color:red;">*</label></label>
                            <!--input formControlName="fechaNa" type="text" class="form-control"  placeholder=""-->
                            <input type="date" class="form-control rounded" 
                                [ngClass]="{'is-invalid':formUser.get('birthdate')?.touched && !formUser.get('birthdate')?.valid}"
                                formControlName="birthdate">
                            <div class="invalid-feedback">
                                {{"REC.FECHAVAL"|translate}}
                            </div>  
                        </div>
                        
                    </div>
                    <div class="form-group row mt-3 ms-3 me-3">
                        <div class="col-sm">
                            <label>{{"REC.OCCUPATION" | translate}}<label style="color:red;">*</label></label>
                            <!--input formControlName="ocupaUser" type="text" class="form-control"  placeholder=""-->
                            <input type="text" class="form-control rounded" 
                                [ngClass]="{'is-invalid':formUser.get('occupation')?.touched && !formUser.get('occupation')?.valid}"
                                formControlName="occupation">
                            <div class="invalid-feedback">
                                {{"REC.OCUPVAL"|translate}}
                            </div>    
                        </div>
                    </div>
                    <div class="form-group row mt-3 ms-3 me-3">
                        <div class="col-sm">
                            <label>{{"REC.COD" | translate}}</label>
                            <!--input formControlName="postUser" type="text" class="form-control"  placeholder=""-->
                            <input type="text" class="form-control rounded" 
                                [ngClass]="{'is-invalid':formUser.get('postalCode')?.touched && !formUser.get('postalCode')?.valid}"
                                formControlName="postalCode">
                            <div class="invalid-feedback">
                                {{"REC.CODPOSVAL"|translate}}
                            </div>      
                        </div>
                        <div class="col-sm">
                            <label>{{"REC.CIVIL" | translate}}<label style="color:red;">*</label></label>
                            <!--input  formControlName="ecivlUser" type="text" class="form-control"  placeholder=""-->
                            <input type="text" class="form-control rounded" 
                                [ngClass]="{'is-invalid':formUser.get('maritalStatus')?.touched && !formUser.get('maritalStatus')?.valid}"
                                formControlName="maritalStatus">
                            <div class="invalid-feedback">
                                {{"REC.ESTADOVAL"|translate}}
                            </div>     
                        </div>
                    </div>
                    <div class="form-group row mt-3 ms-3 me-3">
                        <div class="col-sm">
                            <label>{{"REC.CONTRASEÑA" | translate}}<label style="color:red;">*</label></label>
                            <!--input formControlName="postUser" type="text" class="form-control"  placeholder=""-->
                            <input type="password" class="form-control rounded" 
                                [ngClass]="{'is-invalid':formUser.get('password')?.touched && !formUser.get('password')?.valid}"
                                formControlName="password">
                            <div class="invalid-feedback">
                                {{"REC.PASSVAL"|translate}}
                            </div>    
                        </div>
                        <div class="col-sm">
                            <label>{{"REC.CONFIRMAR" | translate}}<label style="color:red;">*</label></label>
                            <!--input  formControlName="ecivlUser" type="text" class="form-control"  placeholder=""-->
                            <input type="password" class="form-control rounded" 
                                [ngClass]="{'is-invalid':formUser.get('confirmPassword')?.touched && !formUser.get('confirmPassword')?.valid}"
                                formControlName="confirmPassword">
                            <div class="invalid-feedback">
                                {{"REC.CONFIRPASSVAL"|translate}}
                            </div> 
                        </div>
                    </div>
                    <div class="form-check mt-2 ms-4 ">
                        <a class="form-check-label" (click)="acuerdo()" style="cursor:pointer" for="flexCheckDefault">
                            {{"REC.PRIVACIDAD" | translate}}
                        </a>
                    </div>
                    <div class="form-group text-center row mt-2">
                        <div class="col-sm">
                            <button type="submit" class="btn btn-primary">{{"REC.ENVIAR" | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm mt-3">
                <div class="container p-4">
                    <app-map (latLngEvent)="onUbicationChange($event)"></app-map>
                    <div class="row mt-3">
                        <h5 class="mt-3">{{"REC.INFORMACIONCONTACTOS" | translate}}</h5>

                        <div class="col-1 text-center mt-3">
                            <fa-icon [icon]="['fas', 'location-dot']"></fa-icon>
                        </div>
                        <div class="col-11 mt-3">
                            <label style="font-size: 80%">{{formUser.value['geoInv']}}</label>
                        </div>
                        <div class="col-1 text-center mt-4">
                            <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                        </div>
                        <div class="col-11 mt-4">
                            <label style="font-size: 80%">{{formUser.value['email']}}</label>
                        </div>
                        <div class="col-1 text-center mt-4">
                            <fa-icon [icon]="['fas', 'phone']"></fa-icon>
                        </div>
                        <div class="col-11 mt-4">
                            <label style="font-size: 80%">{{formUser.value['phone']}}</label>
                        </div>

                        <div class="mt-4">
                            <h5>{{"REC.INFORMACIONPERSONAL"| translate}}</h5>
                            <p style="font-size: 80%">{{formUser.value['name']}}</p>
                            <p style="font-size: 80%">{{formUser.value['identification']}}</p>
                            <p style="font-size: 80%">{{formUser.value['occupation']}} </p>
                            <p style="font-size: 80%">{{formUser.value['maritalStatus']}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>