<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form>  
                    <h1>Registro</h1>
                    <br>
                    <p style="color:red;">Campos Obligarorios *</p>
                    <br>
                    <div class="form-group row">
                        <label>Nombre*</label>
                        <br>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label>Correo*</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail2" placeholder="">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label>Fecha de nacimiento*</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label>Telefono*</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label>Ocupacion*</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label>Codigo Postal</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label>Estado Civil*</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label>Identificacion*</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-5">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Acuerdo de privacidad
                                </label>
                              </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary ms-4">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-6">
                <div class="imagenMpa">
                    <img src="../../assets/images/maps.jpg" class="figure-img img-fluid rounded " alt="...">
                </div>
                <br>
                <h5>{{usuario.name}}</h5>
                <br>
                <div class="row">
                    <div class="col-2">
                        <div class="imagenUbi">
                            <br>
                            <img src="../../assets/images/ubi.png" class="figure-img img-fluid rounded " alt="...">
                        </div>
                    </div>
                    <div class="col-10">
                        <br>
                        <p style="font-size: 13px">Ubicacion</p>
                    </div>
                    <div class="col-2">
                        <div class="imagenUbi">
                            <br>
                            <img src="../../assets/images/email.png" class="figure-img img-fluid rounded " alt="...">
                        </div>
                    </div>
                    <div class="col-10">
                        <br>
                        <p style="font-size: 13px">{{usuario.email}}</p>
                    </div>
                    <div class="col-2">
                        <div class="imagenUbi">
                            <br>
                            <img src="../../assets/images/tel.png" class="figure-img img-fluid rounded " alt="...">
                        </div>
                    </div>
                    <div class="col-10">
                        <br>
                        <p style="font-size: 13px">{{usuario.phone}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
</div>
<br>
<br>
<br>
