<!--p *ngIf="user">{{user.name}}</p>-->
  <nav class="navbar fixed-top navbar-expand-lg bg-primary p-md-3">
    <div class="container-fluid">
      <a class="navbar-brand text-white ms-5" href="#"> Vigen</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav nav-pills me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" (click)="toHome()"  routerLink="/home" routerLinkActivate="activate">{{"NAV.HOME" | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" (click)="toAbout()" routerLink="" routerLinkActivate="activate">{{"NAV.ABOUT" | translate}}</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" (click)="toHelp()" routerLink="" routerLinkActivate="activate">{{"NAV.HELP" | translate}}</a>
          </li>
        </ul>
        <button class="btn btn-primary m-2" type="submit" routerLink="/login">{{"NAV.LOGIN" | translate}}</button>
        <button class="btn btn-dark me-5" type="submit" routerLink="/signUp">{{"NAV.SIGNUP" | translate}}</button>
  
      </div>
    </div>
  </nav>

 
