<!--p *ngIf="user">{{user.name}}</p>-->
  <nav class="navbar fixed-top navbar-expand-lg bg-primary p-md-3">
    <div class="container-fluid">
      <a class="navbar-brand text-white ms-5" href="#"> Vigen</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav nav-pills me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" (click)="toHome()"  routerLink="/home" routerLinkActivate="activate">{{"NAV.HOME" | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" (click)="toAbout()" routerLink="" routerLinkActivate="activate">{{"NAV.ABOUT" | translate}}</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" (click)="toHelp()" routerLink="" routerLinkActivate="activate">{{"NAV.HELP" | translate}}</a>
          </li>
        </ul>
        <button class="btn btn-primary m-2" type="submit" routerLink="/login">Login</button>
        <button class="btn btn-dark me-5" type="submit" routerLink="/signUp">Sign-up</button>
  
      </div>
    </div>
  </nav>

 <!-- <img src="../../assets/images/Mujer.jpg" class="img-fluid" width="100%" height="30%" alt="Responsive image">-->
  
 <!-- <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="content text-center">
      <h1 class="text-white"></h1>
    </div>
  </div>>-->
<!--
<div class="container">
  <h1>DEVELOP ACROSS ALL PLATFORMS
    Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</h1>
</div>
<div class="container"></div>
<h1>DEVELOP ACROSS ALL PLATFORMS
  Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</h1>
<div class="container"></div>
<div class="container"></div>
-->
