<div style="margin-top: 5rem;">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col p-4">

                <form (ngSubmit)="onSubmit()" [formGroup]="OrganizationForm">
                    <h1><b>{{"EDIT-ORG.BIENVENIDO" | translate}}</b></h1>
                    <hr>
                    <div class="container shadow p-3 bg-white mb-2">
                        <h1><b>{{"EDIT-ORG.BIENVENIDO" | translate}}</b></h1>
                        <hr>
                        <h4><b>{{"EDIT-ORG.INFOORG" | translate}}</b></h4>
                        <hr>
                        <div class="form">
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">NIT</label>
                                <div class="col-sm-9 ms-3">
                                    <input type="text" class="form-control rounded" 
                                        [ngClass]="{'is-invalid':OrganizationForm.get('nit')?.touched && !OrganizationForm.get('nit')?.valid}"
                                        formControlName="nit" readonly>
                                    <div class="invalid-feedback">
                                        {{"REC.NITVAL"|translate}}
                                    </div> 
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-ORG.NOMBRE" | translate}}</label>
                                <div class="col-sm-9 ms-3">
                                    <input type="text" class="form-control rounded" 
                                        [ngClass]="{'is-invalid':OrganizationForm.get('name')?.touched && !OrganizationForm.get('name')?.valid}"
                                        formControlName="name">
                                    <div class="invalid-feedback">
                                        {{"REC.NAMEVAL"|translate}}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            
                            
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-ORG.PHONE" |
                                    translate}}</label>
                                <div class="col-sm-9 ms-3">
                                    <input type="text" class="form-control rounded" 
                                        [ngClass]="{'is-invalid':OrganizationForm.get('phone')?.touched && !OrganizationForm.get('phone')?.valid}"
                                        formControlName="phone">
                                    <div class="invalid-feedback">
                                        {{"REC.CELVAL"|translate}}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-ORG.TELÉFONO" |
                                    translate}}</label>
                                <div class="col-sm-9 ms-3">
                                    <input type="text" class="form-control rounded" 
                                        [ngClass]="{'is-invalid':OrganizationForm.get('tel')?.touched && !OrganizationForm.get('tel')?.valid}"
                                        formControlName="tel">
                                    <div class="invalid-feedback">
                                        {{"REC.TEL"|translate}}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <h4 class="mt-5"><b>{{"EDIT-ORG.CONTRA" | translate}}</b></h4>
                        <hr>
                        <div class="form">
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-ORG.CONTRA" | translate}}</label>
                                <div class="col-sm-9 ms-3">
                                    <input type="password" class="form-control rounded" formControlName="password">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-ORG.NEWCONTRA" |
                                    translate}}</label>
                                <div class="col-sm-9 ms-3">
                                    <input type="password" class="form-control rounded" formControlName="newPassword">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">{{"EDIT-ORG.CONFCONTRA" |
                                    translate}}</label>
                                <div class="col-sm-9 ms-3">
                                    <input type="password" class="form-control rounded" formControlName="confirmPassword">
                                </div>
                            </div>
                        </div>
                        <div class="conatiner text-center mt-4">
                            <button type="submit" class="btn btn-dark">{{"EDIT-ORG.GUARDAR" | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>